
@{
    ViewData["Title"] = "CheckWebservice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-12">

            <div class="card">
                <div class="card-body">
                    <h4>Seleccionar compañías</h4>
                    @ViewData["SeleccionarCompanias"];
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4>Seleccionar agencias</h4>
                    @ViewData["SeleccionarAgencias"];
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4>Seleccionar Marcas</h4>
                    @ViewData["SeleccionarMarcas"]
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4>Seleccionar Tipos de Bienes Compañía</h4>
                    @ViewData["SeleccionarTiposBienesCompania"]
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4>Seleccionar porcentaje Administracion Compañía</h4>
                    @ViewData["SeleccionarPorcentajeAdministracionCompania"]
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4>Seleccionar porcentaje inscripcicón Compañía</h4>
                    @ViewData["SeleccionarPorcentajeInscripcionCompania"]
                </div>
            </div>
        </div>

        
        
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4>Seleccionar Bienes </h4>
                    @ViewData["SeleccionarBienesCompania"]
                </div>
            </div>
        </div>


        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4>Seleccionar Bienes Parametros</h4>
                    @ViewData["SeleccionarBienesParametrosCompania"]
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4>REferencia dde pago</h4>
                    @ViewData["ReferenciaPago"]
                </div>
            </div>
        </div>




    </div>
</div>

