@using Microsoft.AspNetCore.Identity
@using ContratoDigital.Areas.Identity.Data
@inject SignInManager<ContratoDigitalUser> SignInManager
@inject UserManager<ContratoDigitalUser> UserManager
@inject RoleManager<IdentityRole> RoleManager


@model ContratoDigital.Models.Prospecto
@{

    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (ViewData["Warning"] != null)
{
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="alert alert-danger mb-0" role="alert">
                        @ViewData["Warning"]
                    </div>
                </div>
            </div>
        </div>
    </section>
}
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div style="background: url('../../../../images/background/prospect.jpg') no-repeat center center fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;min-height: 20rem;">
                    <h1 class="text-white text-center text-shadow" data-aos="fade-in" data-aos-delay="500" style="max-width: 350px;position:absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);">
                        Detalles de prospecto
                    </h1>
                </div>
            </div>
        </div>
    </div>
</section>
@if (Model != null)
{
<section>

    <div class="container">
        <div class="row mt-4">
            <div class="col-12  text-center">
                <nav class="navbar navbar-expand-lg navbar-dark bg-black-6c qurii-white">
                    <a class="navbar-brand" href="@Url.Action("Index", "Prospectos")"><i class="far fa-arrow-alt-circle-left"></i> Regresar</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Edit", "Prospectos", new {id = Model.IdProspecto })"><i class="far fa-edit"></i> Editar</a>
                            </li>

                            @if (Model.ConfirmacionProspecto.IsConfirmed)
                            {
                                <li class="nav-item ">
                                    <a class="nav-link" href="@Url.Action("Generate", "Prospectos", new { id = Model.IdProspecto })"><i class="fas fa-receipt"></i>  Generar cotización</a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link" href="@Url.Action("EmailCotizacion", "Prospectos", new { id = Model.IdProspecto })"><i class="fas fa-envelope"></i> Enviar cotización por correo</a>
                                </li>
                                @if (Model.Contratos.Count == 0)
                                {
                                    <li class="nav-item ">
                                        <a class="nav-link" href="@Url.Action("Fill", "ContratoDigital", new { id = Model.IdProspecto })"><i class="far fa-file-pdf"></i> Diligenciar nuevo contrato</a>
                                    </li>
                                }
                                else if (Model.Contratos.Count > 0)
                                {
                                    if (Model.Contratos.Last().ConfirmacionContratos != null)
                                    {
                                        if (Model.Contratos.Last().ConfirmacionContratos.IsRegistered)
                                        {
                                            <li class="nav-item ">
                                                <a class="nav-link" href="@Url.Action("Fill", "ContratoDigital", new { id = Model.IdProspecto })"><i class="far fa-file-pdf"></i> Diligenciar nuevo contrato</a>
                                            </li>
                                        }
                                    }

                                }
                            }
                        </ul>

                    </div>
                </nav>
            </div>
        </div>
    </div>
</section>
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <!-- Begin -->
                <div class="col-12 col-md-8">
                    <div class="polymer-box">
                        <div class="row">
                            <div class="col-12 col-md-4 font-weight-bold">
                                Nombre
                            </div>
                            <div class="col-12 col-md-8 text-black-65 text-uppercase">
                                @(Model.PrimerNombre + " " + Model.SegundoNombre + " " + Model.PrimerApellido + " " + Model.SegundoApellido)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-8">
                    <div class="polymer-box">
                        <div class="row">
                            <div class="col-12 col-md-4 font-weight-bold">
                                Documento identidad
                            </div>
                            <div class="col-12 col-md-8 text-black-65 text-uppercase">
                                @ViewData["TipoIdDescripcion"] - @Model.NumeroDocumento
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-8">
                    <div class="polymer-box">
                        <div class="row">
                            <div class="col-12 col-md-4 font-weight-bold">Estado</div>
                            <div class="col-12 col-md-8 text-black-65 text-uppercase">@ViewData["Estado"]</div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-4 font-weight-bold">Registrado por</div>
                            <div class="col-12 col-md-8 text-black-65 text-uppercase">
                                @{
                                    var user = UserManager.Users.SingleOrDefault(x => x.Id == Model.ConfirmacionProspecto.UserId);
                                    Write(user.Nombre + " " + user.Apellido);
                                }

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-4 font-weight-bold">Fecha de registro</div>
                            <div class="col-12 col-md-8 text-black-65 text-uppercase">
                                @String.Format("{0:yyyy-MM-dd}", Model.ConfirmacionProspecto.FechaCreacion)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-8">
                    <div class="polymer-box">
                        <div class="row">
                            <div class="col-12 col-md-4 font-weight-bold">
                                Teléfonos
                            </div>
                            <div class="col-12 col-md-8 text-black-65 text-uppercase">
                                @Model.Telefono<br />@Model.Celular
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-8">
                    <div class="polymer-box">
                        <div class="row">
                            <div class="col-12 col-md-4 font-weight-bold">
                                Agencia
                            </div>
                            <div class="col-12 col-md-8 text-black-65 text-uppercase">
                                @Model.ConfirmacionProspecto.DescripcionAgencia
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-8">
                    <div class="polymer-box">
                        <div class="row">
                            <div class="col-12 col-md-4 font-weight-bold">
                                Tipo medio
                            </div>
                            <div class="col-12 col-md-8 text-black-65 text-uppercase">
                                @Model.ConfirmacionProspecto.DescripcionTipoMedio
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-8">
                    <div class="polymer-box">
                        <div class="row">
                            <div class="col-12 col-md-4 font-weight-bold">
                                Tipo medio Agencia
                            </div>
                            <div class="col-12 col-md-8 text-black-65 text-uppercase">
                                @Model.ConfirmacionProspecto.DescripcionMedio
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-8">
                    <div class="polymer-box">
                        <div class="row">
                            <div class="col-12 col-md-4 font-weight-bold">
                                Tipo cliente
                            </div>
                            <div class="col-12 col-md-8 text-black-65 text-uppercase">
                                @Model.ConfirmacionProspecto.DescripcionTipoCliente
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-12 col-md-8">
                    <div class="polymer-box">
                        <div class="row">
                            <div class="col-12 col-md-4 font-weight-bold">
                                Email
                            </div>
                            <div class="col-12 col-md-8 text-black-65 text-uppercase">
                                @Model.Email<br />
                                @if (Model.ConfirmacionProspecto.IsConfirmed == true)
                                {
                                    <label class="text-success"><i class="fas fa-check"></i> confirmado</label><br />
                                    <strong>Fecha de Confirmación</strong><br />
                                    DateTime date = new DateTime();
                                    Write(Model.ConfirmacionProspecto.FechaConfirmacion > date ? String.Format("{0:yyyy-MM-dd}", Model.ConfirmacionProspecto.FechaConfirmacion) : "No disponible");
                                    

                                }
                                else
                                {
                                    <label class="text-muted"><i class="far fa-clock"></i> Por confirmar &nbsp;&nbsp;<span class="badge badge-qurii"><a href="@Url.Action("EmailConfirmacion", "Prospectos", new { id = Model.IdProspecto })" class="text-white"><i class="fas fa-reply-all"></i>&nbsp;&nbsp;Reenvíar</a></span></label>

                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-8">
                    <div class="polymer-box">
                        <div class="row">
                            <div class="col-12 col-md-4 font-weight-bold">Observaciones</div>
                            <div class="col-12 col-md-8 text-black-65 text-uppercase">@Model.ConfirmacionProspecto.Observaciones</div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-8 mt-4">
                    <div class="polymer-box">
                        <h4 class="text-center">Datos del bien</h4>
                    </div>
                </div>
                <div class="col-12 col-md-8">
                    <div class="polymer-box">
                        <div class="row">
                            <div class="col-12 col-md-4 font-weight-bold">
                                Compañia
                            </div>
                            <div class="col-12 col-md-8 text-black-65 text-uppercase">
                                @Model.Compania
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-8">
                    <div class="polymer-box">
                        <div class="row">
                            <div class="col-12 col-md-4 font-weight-bold">
                                Detalle del bien
                            </div>
                            <div class="col-12 col-md-8 text-black-65 text-uppercase">
                                <strong>@Model.Detalles_bien</strong><br />
                                @Model.DescripcionDelBien
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-8">
                    <div class="polymer-box">
                        <div class="row">
                            <div class="col-12 col-md-4 font-weight-bold">
                                Valor del bien
                            </div>
                            <div class="col-12 col-md-8 text-black-65 text-uppercase">
                                @String.Format("$ {0:0,0.00}", Model.ValorDelBien)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-8">
                    <div class="polymer-box">
                        <div class="row">
                            <div class="col-12 col-md-4 font-weight-bold">
                                IVA
                            </div>
                            <div class="col-12 col-md-8 text-black-65 text-uppercase">
                                @Model.PorcentajeIva %
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-4 font-weight-bold">
                                Porcentaje inscripción
                            </div>
                            <div class="col-12 col-md-8 text-black-65 text-uppercase">
                                @Model.PorcentajeInscripcion %
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-4 font-weight-bold">
                                Porcentaje administración
                            </div>
                            <div class="col-12 col-md-8 text-black-65 text-uppercase">
                                @Model.PorcentajeAdministracion %
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-4 font-weight-bold">
                                Plazo
                            </div>
                            <div class="col-12 col-md-8 text-black-65 text-uppercase">
                                @Model.Plazo

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-8">
                    <div class="polymer-box">
                        <div class="row">
                            <div class="col-12 col-md-4 font-weight-bold">
                                Cuota de ingreso
                            </div>
                            <div class="col-12 col-md-8 text-black-65 text-uppercase">
                                @String.Format("$ {0:0,0.00}", Model.CuotaDeIngreso)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-8">
                    <div class="polymer-box">
                        <div class="row">
                            <div class="col-12 col-md-4 font-weight-bold">
                                I.V.A. cuota de ingreso
                            </div>
                            <div class="col-12 col-md-8 text-black-65 text-uppercase">
                                @String.Format("$ {0:0,0.00}", Model.IvaCuotaIngreso)
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-12 col-md-8">
                    <div class="polymer-box">
                        <div class="row">
                            <div class="col-12 col-md-4 font-weight-bold">
                                Total cuota de ingreso
                            </div>
                            <div class="col-12 col-md-8 text-black-65 text-uppercase">
                                @String.Format("$ {0:0,0.00}", Model.TotalCuotaIngreso)
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-8">
                    <div class="polymer-box">
                        <div class="row">
                            <div class="col-12 col-md-4 font-weight-bold">
                                Primera cuota neta
                            </div>
                            <div class="col-12 col-md-8 text-black-65 text-uppercase">
                                @String.Format("$ {0:0,0.00}", Model.PrimeraCuotaNeta)
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-8">
                    <div class="polymer-box">
                        <div class="row">
                            <div class="col-12 col-md-4 font-weight-bold">
                                Administración
                            </div>
                            <div class="col-12 col-md-8 text-black-65 text-uppercase">
                                @String.Format("$ {0:0,0.00}", Model.Administracion)
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-8">
                    <div class="polymer-box">
                        <div class="row">
                            <div class="col-12 col-md-4 font-weight-bold">
                                I.V.A. sobre la administración
                            </div>
                            <div class="col-12 col-md-8 text-black-65 text-uppercase">
                                @String.Format("$ {0:0,0.00}", Model.IvaAdministracion)
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-8">
                    <div class="polymer-box">
                        <div class="row">
                            <div class="col-12 col-md-4 font-weight-bold">
                                Total cuota bruta
                            </div>
                            <div class="col-12 col-md-8 text-black-65 text-uppercase">
                                @String.Format("$ {0:0,0.00}", Model.TotalCuotaBruta)
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-8">
                    <div class="polymer-box">
                        <div class="row">
                            <div class="col-12 col-md-4 font-weight-bold">
                                Valor cuota primer pago
                            </div>
                            <div class="col-12 col-md-8 text-black-65 text-uppercase">
                                @String.Format("$ {0:0,0.00}", Model.ValorTotalPrimerPago)
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end -->
            </div>
        </div>
    </section>

    <section>

        <div class="container">
            <div class="row mt-4">
                <div class="col-12  text-center">
                    <nav class="navbar navbar-expand-lg navbar-dark bg-black-6c qurii-white">
                        <a class="navbar-brand" href="@Url.Action("Index", "Prospectos")"><i class="far fa-arrow-alt-circle-left"></i> Regresar</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("Edit", "Prospectos", new {id = Model.IdProspecto })"><i class="far fa-edit"></i> Editar</a>
                                </li>

                                @if (Model.ConfirmacionProspecto.IsConfirmed)
                                {
                                    <li class="nav-item ">
                                        <a class="nav-link" href="@Url.Action("Generate", "Prospectos", new { id = Model.IdProspecto })"><i class="fas fa-receipt"></i>  Generar cotización</a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link" href="@Url.Action("EmailCotizacion", "Prospectos", new { id = Model.IdProspecto })"><i class="fas fa-envelope"></i> Enviar cotización por correo</a>
                                    </li>
                                    @if (Model.Contratos.Count == 0)
                                    {
                                        <li class="nav-item ">
                                            <a class="nav-link" href="@Url.Action("Fill", "ContratoDigital", new { id = Model.IdProspecto })"><i class="far fa-file-pdf"></i> Diligenciar nuevo contrato</a>
                                        </li>
                                    }
                                    else if (Model.Contratos.Count > 0)
                                    {
                                        if (Model.Contratos.Last().ConfirmacionContratos != null)
                                        {
                                            if (Model.Contratos.Last().ConfirmacionContratos.IsRegistered)
                                            {
                                                <li class="nav-item ">
                                                    <a class="nav-link" href="@Url.Action("Fill", "ContratoDigital", new { id = Model.IdProspecto })"><i class="far fa-file-pdf"></i> Diligenciar nuevo contrato</a>
                                                </li>
                                            }
                                        }

                                    }
                                }
                            </ul>

                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container mt-4">


            <div class="row mt-4">
                <div class="col-12">
                    <h3>Contratos</h3>
                </div>
                <div class="col-12">
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th>Acciones</th>
                                <th>Número contrato</th>
                                <th>Fecha del contrato</th>
                                <th>Bien</th>
                                <th>Valor del bien</th>
                                <th>Pagado</th>
                                <th>Registrado</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Contrato item in Model.Contratos)
                            {
                                <tr>
                                    <td>
                                        <div class="btn-group" role="group" aria-label="Acciones">
                                            <a class="btn btn-qurii" href="@Url.Action("Edit", "ContratoDigital", new {id = item.IdContrato })"><i class="far fa-edit"></i> Editar</a>
                                            <a class="btn btn-qurii" href="@Url.Action("Details", "ContratoDigital", new { id = item.IdContrato })"><i class="far fa-file-pdf"></i> Detalles</a>
                                        </div>
                                    </td>
                                    <td>@item.numero_de_contrato</td>
                                    <td>@String.Format("{0:dd-MM-yyyy}", item.fecha_suscripcion_contrato)</td>
                                    <td>@item.descripcion_bien</td>
                                    <td>@String.Format("$ {0:0,0.00}", item.valor_bien)</td>
                                    <td>
                                        @if (item.ConfirmacionContratos != null)
                                        {
                                            @if (item.ConfirmacionContratos.IsPaid)
                                            {

                                                <label class="text-success"><i class="fas fa-check"></i> Pagado</label>
                                            }
                                            else
                                            {
                                                <label class="text-muted"><i class="far fa-clock"></i> Por pagar</label>

                                            }
                                        }

                                    </td>
                                    <td>
                                        @if (item.ConfirmacionContratos != null)
                                        {
                                            @if (item.ConfirmacionContratos.IsRegistered)
                                            {
                                                <label class="text-success"><i class="fas fa-check"></i> Registrado Siicon</label>
                                            }
                                            else
                                            {
                                                <label class="text-muted"><i class="far fa-clock"></i> Registro en Siicon pendiente</label>
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>




        </div>
    </section>

}
else
{
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="text-center mt-5">El prospecto no fue encontrado.</h3>
                </div>
            </div>
        </div>
    </section>

}
