@model ContratoDigital.Models.Prospecto
@{
    ViewData["Title"] = "Edit";
    List<Estado> estados = ViewData["TipoIdentidadList"] as List<Estado>;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div style="background: url('../../../../images/background/prospect.jpg') no-repeat center center fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;min-height: 20rem;">
                    <h1 class="text-white text-center text-shadow" data-aos="fade-in" data-aos-delay="500" style="max-width: 350px;position:absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);">
                        Editar prospecto
                    </h1>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <form method="post" class="ProspectoValidation bootstrapValidation" autocomplete="off">
                    <input type="hidden" id="IdProspecto" name="IdProspecto" value="@Model.IdProspecto" />
                    <div class="form-row justify-content-center">
                        <div class="col-12 col-md-8 mt-4">
                            <div class="polymer-box">
                                <label for="PrimerNombre">Primer nombre</label>
                                <input type="text" id="PrimerNombre" name="PrimerNombre" class="form-control form-control-lg text-uppercase" value="@Model.PrimerNombre" required autocomplete="off" />
                            </div>
                        </div>
                        <div class="col-12 col-md-8 mt-4">
                            <div class="polymer-box">
                                <label for="SegundoNombre">Segundo nombre</label>
                                <input type="text" id="SegundoNombre" name="SegundoNombre" class="form-control form-control-lg text-uppercase" value="@Model.SegundoNombre" autocomplete="off" />
                            </div>
                        </div>
                        <div class="col-12 col-md-8 mt-4">
                            <div class="polymer-box">
                                <label for="PrimerApellido">Primer apellido</label>
                                <input type="text" id="PrimerApellido" name="PrimerApellido" class="form-control form-control-lg text-uppercase" value="@Model.PrimerApellido" required autocomplete="off" />
                            </div>
                        </div>
                        <div class="col-12 col-md-8 mt-4">
                            <div class="polymer-box">                                
                                <label for="SegundoApellido">Segundo apellido</label>
                                <input type="text" id="SegundoApellido" name="SegundoApellido" class="form-control form-control-lg text-uppercase" value="@Model.SegundoApellido" autocomplete="off" />
                            </div>
                        </div>
                    </div>
                    <div class="form-row justify-content-center">
                        <div class="col-12 col-md-8 mt-4">
                            <div class="polymer-box">
                                <label for="TipoDocumentoIdentidad">Tipo de documento</label>
                                <select id="TipoDocumentoIdentidad" name="TipoDocumentoIdentidad" class="form-control form-control-lg" required autocomplete="off">
                                    <option value="">Seleccione una opción</option>
                                    @foreach (var item in estados)
                                    {
                                        @if (Model.TipoDocumentoIdentidad == item.IdEstado)
                                        {
                                            <option selected="selected" value="@item.IdEstado">@item.Descripcion</option>
                                        }
                                        else
                                        {
                                            <option value="@item.IdEstado">@item.Descripcion</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-md-8 mt-4">
                            <div class="polymer-box">
                                <label for="NumeroDocumento">Número documento identidad</label>
                                <input type="text" id="NumeroDocumento" name="NumeroDocumento" class="form-control form-control-lg text-uppercase" value="@Model.NumeroDocumento" required autocomplete="off" />
                            </div>
                        </div>
                        <div class="col-12 col-md-8 mt-4">
                            <div class="polymer-box">
                                <label for="Telefono">Teléfono</label>
                                <input type="text" id="Telefono" name="Telefono" class="form-control form-control-lg text-uppercase" value="@Model.Telefono" required autocomplete="off" />
                            </div>
                        </div>
                        <div class="col-12 col-md-8 mt-4">
                            <div class="polymer-box">
                                <label for="Celular">Celular</label>
                                <input type="text" id="Celular" name="Celular" class="form-control form-control-lg text-uppercase" value="@Model.Celular" required autocomplete="off" />
                            </div>
                        </div>
                    </div>
                    <div class="form-row justify-content-center">
                        <div class="col-12 col-md-8 mt-4">
                            <div class="polymer-box">
                                <label for="email">Email</label>
                                <input type="email" id="email" name="email" class="form-control form-control-lg text-uppercase" value="@Model.Email" required autocomplete="off" />
                            </div>                            
                        </div>
                        <div class="col-12 col-md-8 mt-4">
                            <div class="polymer-box">
                                <label for="observaciones">Observaciones</label>
                                <textarea id="observaciones" name="observaciones" class="form-control form-control-lg">@Model.ConfirmacionProspecto.Observaciones</textarea>
                            </div>
                            <hr />
                        </div>
                    </div>

                    <div class="form-row justify-content-center">
                        <div class="col-12 col-md-8 mt-4">
                            <div class="polymer-box">
                                <h4 class="text-center">Datos del bien</h4>
                            </div>
                        </div>

                        <div class="col-12 col-md-8">
                            <div class="polymer-box">
                                <div class="row">
                                    <div class="col-12 col-md-4 font-weight-bold">
                                        Referencia
                                    </div>
                                </div>
                                <div class="row mt-2 error-area"></div>
                                <div class="row mt-4">
                                    <div class="col-12 col-md-6">
                                        <label for="bien">Seleccione compañía</label>
                                        <select class="form-control form-control-lg" id="idcompania" name="idcompania" autocomplete="off">
                                            <option value="">Seleccione una opción</option>
                                            <option selected value="@Model.IdCompania">@Model.Compania</option>
                                            <option value="26e0e553-8bb9-41b2-869a-1fddaf06e900">Autofinanciera S.A.</option>
                                            <option value="6831062e-c994-4686-a989-1964b1200cbc">Electroplan S.A.</option>
                                        </select>
                                        <input type="hidden" name="compania" id="compania" value="@Model.Compania" />
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <label for="">Agencia</label>
                                        <select class="form-control form-control-lg" id="Agencia" name="Agencia" readonly>
                                            <option value="@Model.ConfirmacionProspecto.Agencia">@Model.ConfirmacionProspecto.DescripcionAgencia </option>
                                            <option value="">Seleccione una opción</option>
                                        </select>
                                        <input type="hidden" name="AgenciaDescripcion" id="AgenciaDescripcion" value="@Model.ConfirmacionProspecto.DescripcionAgencia" />
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <label for="tipodeBien">Seleccione un tipo de bien</label>
                                        <select class="form-control form-control-lg" id="tipodeBien" name="tipodeBien" readonly>
                                            <option value="@Model.Id_Tipo_Bien">@Model.Tipo_de_Bien</option>
                                            <option value="">Seleccione una opción</option>
                                        </select>
                                        <input type="hidden" name="descripcionTipoBien" id="descripcionTipoBien" value="@Model.Tipo_de_Bien" />
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <label for="marca">Seleccione una marca</label>
                                        <select class="form-control form-control-lg" id="marca" name="marca" readonly>
                                            <option value="@Model.Id_marca">@Model.Marca_exclusiva_bien</option>
                                            <option value="">Seleccione una opción</option>
                                        </select>
                                        <input type="hidden" name="descripcionMarca" id="descripcionMarca" value="@Model.Marca_exclusiva_bien" />
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <label for="planDeAhorro">Seleccione un plan de ahorro</label>
                                        <select class="form-control form-control-lg" id="planDeAhorro" name="planDeAhorro" readonly>
                                            <option value="@Model.Referencia">@Model.DescripcionDelBien</option>
                                            <option value="">Seleccione una opción</option>
                                        </select>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <label for="tipoCalculo">Seleccione una cuota</label>
                                        <select class="form-control form-control-lg" id="tipoCalculo" name="tipoCalculo" readonly>
                                            <option value="">Seleccione una opción</option>
                                            <option value="@Model.TipoCalculo" selected>@Model.DescripcionTipoCalculo</option>
                                        </select>
                                        <input type="hidden" name="descripcionTipoCalculo" id="descripcionTipoCalculo" value="@Model.DescripcionTipoCalculo" />
                                    </div>

                                    <div class="col-12 col-md-6">
                                        <label for="">Tipo de medio</label>
                                        <select class="form-control form-control-lg" id="TipoMedio" name="TipoMedio" readonly>
                                            <option value="@Model.ConfirmacionProspecto.TipoMedio">@Model.ConfirmacionProspecto.DescripcionTipoMedio</option>
                                        </select>
                                        <input type="hidden" name="TipoMedioDescripcion" id="TipoMedioDescripcion" value="@Model.ConfirmacionProspecto.DescripcionTipoMedio" />
                                        <input type="hidden" name="tipoBienParametroId" id="tipoBienParametroId" value="@Model.IdTipoBienParametro" />
                                        <input type="hidden" name="medioFechaId" id="medioFechaId" value="@Model.IdFechaMedio" />
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <label for="">Agencia Medio</label>
                                        <select class="form-control form-control-lg" id="TipoMedioAgencia" name="TipoMedioAgencia" readonly>
                                            <option value="@Model.ConfirmacionProspecto.Medio">@Model.ConfirmacionProspecto.DescripcionMedio</option>
                                        </select>
                                        <input type="hidden" name="TipoMedioAgenciaDescripcion" id="TipoMedioAgenciaDescripcion" value="@Model.ConfirmacionProspecto.DescripcionMedio" />
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <label>Tipo de cliente</label>
                                        <select class="form-control form-control-lg" id="TipoCliente" name="TipoCliente" readonly>
                                            <option value="@Model.ConfirmacionProspecto.TipoCliente">@Model.ConfirmacionProspecto.DescripcionTipoCliente</option>
                                            <option value="">Seleccione una opción</option>
                                            <option value="0">Nuevo cliente</option>
                                            <option value="1">Cliente antiguo</option>
                                            <option value="2">Persona jurídicia</option>
                                        </select>
                                        <input type="hidden" name="TipoClienteDescripcion" id="TipoClienteDescripcion" value="@Model.ConfirmacionProspecto.DescripcionTipoCliente" />

                                    </div>


                                    
                                    
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-8">
                            <div class="polymer-box">
                                <div class="row">
                                    <div class="col-12 col-md-4 font-weight-bold">
                                        Porcentaje Inscripción
                                    </div>
                                    <div class="col-12 col-md-8 text-black-65 text-uppercase">
                                        <input type="text" class="form-control form-control-lg porcentajeInscripcion" id="porcentajeInscripcion" name="porcentajeInscripcion" readonly value="@Model.PorcentajeInscripcion" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-md-4 font-weight-bold">
                                        Porcentaje Administración
                                    </div>
                                    <div class="col-12 col-md-8 text-black-65 text-uppercase">
                                        <input type="text" class="form-control form-control-lg porcentajeAdministracion" id="porcentajeAdministracion" name="porcentajeAdministracion" readonly value="@Model.PorcentajeAdministracion" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-md-4 font-weight-bold">
                                        I.V.A.
                                    </div>
                                    <div class="col-12 col-md-8 text-black-65 text-uppercase">
                                        <input type="text" class="form-control form-control-lg porcentajeIva" id="porcentajeIva" name="porcentajeIva" readonly value="@Model.PorcentajeIva" />

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-md-4 font-weight-bold">
                                        Plazo
                                    </div>
                                    <div class="col-12 col-md-8 text-black-65 text-uppercase">
                                        <input type="text" class="form-control form-control-lg plazo" id="plazo_bien" name="plazo_bien" readonly value="@Model.Plazo" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-8">
                            <div class="polymer-box">
                                <div class="row">
                                    <div class="col-12 col-md-4 font-weight-bold">
                                        Descripción del bien
                                    </div>
                                    <div class="col-12 col-md-8 text-black-65 text-uppercase">
                                        <input type="text" name="DescripcionDelBien" id="DescripcionDelBien" class="form-control form-control-lg text-uppercase" value="@Model.DescripcionDelBien" required readonly />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-8">
                            <div class="polymer-box">
                                <div class="row">
                                    <div class="col-12 col-md-4 font-weight-bold">
                                        Detalle
                                    </div>
                                    <div class="col-12 col-md-8 text-black-65 text-uppercase">
                                        <input type="text" name="detalle" id="detalle" class="form-control form-control-lg text-uppercase" value="@Model.Detalles_bien" required autocomplete="off"  />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-8">
                            <div class="polymer-box">
                                <div class="row">
                                    <div class="col-12 col-md-4 font-weight-bold">
                                        Valor del bien
                                    </div>
                                    <div class="col-12 col-md-8 text-black-65 text-uppercase">
                                        <input type="text" name="costo_del_bien" id="costo_del_bien" class="form-control form-control-lg" value="@String.Format("{0:0,0.00}", Model.ValorDelBien)" readonly required />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-8">
                            <div class="polymer-box">
                                <div class="row">
                                    <div class="col-12 col-md-4 font-weight-bold">
                                        <span class="badge badge-azul">1</span> Cuota de ingreso
                                    </div>
                                    <div class="col-12 col-md-8 text-black-65 text-uppercase">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="cuota_ingreso_addon">$</span>
                                            </div>
                                            <input type="text" class="form-control form-control-lg" aria-label="cuota_ingreso" aria-describedby="cuota_ingreso_addon" id="cuota_ingreso" name="cuota_ingreso" readonly value="@String.Format("{0:00,0.00}", Model.CuotaDeIngreso)" required />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-8">
                            <div class="polymer-box">
                                <div class="row">
                                    <div class="col-12 col-md-4 font-weight-bold">
                                        <span class="badge badge-azul">2</span> I.V.A. sobre la cuota de ingreso
                                    </div>
                                    <div class="col-12 col-md-8 text-black-65 text-uppercase">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="iva_cuota_ingreso_addon">$</span>
                                            </div>
                                            <input type="text" id="iva_cuota_ingreso" name="iva_cuota_ingreso" aria-describedby="iva_cuota_ingreso_addon" aria-label="iva_cuota_ingreso" class="form-control form-control-lg " value="@String.Format("{0:0,0.00}", Model.IvaCuotaIngreso)" readonly required />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-8">
                            <div class="polymer-box">
                                <div class="row">
                                    <div class="col-12 col-md-4 font-weight-bold">
                                        <span class="badge badge-azul">3</span> Total cuota de ingreso
                                    </div>
                                    <div class="col-12 col-md-8 text-black-65 text-uppercase">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="total_cuota_ingreso_addon">$</span>
                                            </div>
                                            <input type="text" class="form-control form-control-lg " id="total_cuota_ingreso" name="total_cuota_ingreso" aria-labelledby="total_cuota_ingreso" aria-describedby="total_cuota_ingreso_addon" value="@String.Format("{0:0,0.00}",Model.TotalCuotaIngreso)" readonly required />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-8">
                            <div class="polymer-box">
                                <div class="row">
                                    <div class="col-12 col-md-4 font-weight-bold">
                                        <span class="badge badge-azul">4</span> Primera cuota neta
                                    </div>
                                    <div class="col-12 col-md-8 text-black-65 text-uppercase">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="primera_cuota_neta_addon">$</span>
                                            </div>
                                            <input type="text" id="primera_cuota_neta" name="primera_cuota_neta" class="form-control form-control-lg" aria-label="primera_cuota_neta" aria-describedby="primera_cuota_neta_addon" readonly value="@Model.PrimeraCuotaNeta" required />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-8">
                            <div class="polymer-box">
                                <div class="row">
                                    <div class="col-12 col-md-4 font-weight-bold">
                                        <span class="badge-azul badge">5</span> Administración
                                    </div>
                                    <div class="col-12 col-md-8 text-black-65 text-uppercase">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">$</span>
                                            </div>
                                            <input type="text" id="administracion" name="administracion" class="form-control form-control-lg" aria-label="administracion" aria-describedby="administracion_addon" readonly value="@Model.Administracion" required />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-8">
                            <div class="polymer-box">
                                <div class="row">
                                    <div class="col-12 col-md-4 font-weight-bold">
                                        <span class="badge badge-azul">6</span> I.V.A. sobre la administración
                                    </div>
                                    <div class="col-12 col-md-8 text-black-65 text-uppercase">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="iva_administracion_addon">$</span>
                                            </div>
                                            <input type="text" id="iva_administracion" name="iva_administracion" class="form-control form-control-lg" aria-label="iva_administracion" aria-describedby="iva_administracion_addon" readonly value="@Model.IvaAdministracion" required />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-8">
                            <div class="polymer-box">
                                <div class="row">
                                    <div class="col-12 col-md-4 font-weight-bold">
                                        <span class="badge badge-azul">7</span> Total cuota bruta
                                    </div>
                                    <div class="col-12 col-md-8 text-black-65 text-uppercase">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="total_cuota_bruta_addon">$</span>
                                            </div>
                                            <input type="text" id="total_cuota_bruta" name="total_cuota_bruta" class="form-control form-control-lg" aria-label="total_cuota_bruta" aria-describedby="total_cuota_bruta_addon" readonly value="@Model.TotalCuotaBruta" required />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>




                        <div class="col-12 col-md-8">
                            <div class="polymer-box">
                                <div class="row">
                                    <div class="col-12 col-md-4 font-weight-bold">
                                        <span class="badge badge-azul">8</span> Valor total primer pago
                                    </div>
                                    <div class="col-12 col-md-8 text-black-65 text-uppercase">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="valor_primer_pago_addon">$</span>
                                            </div>
                                            <input type="text" id="valor_primer_pago" name="valor_primer_pago" class="form-control form-control-lg" aria-label="valor_primer_pago" aria-describedby="valor_primer_pago_addon" readonly value="@Model.ValorTotalPrimerPago" required />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-8">
                            <div class="polymer-box text-center">
                                <a href="@Url.Action("Details", "Prospectos", new { id=Model.IdProspecto })" class="btn btn-lg btn-azul"><i class="far fa-arrow-alt-circle-left"></i> Regresar</a>
                                <button type="submit" class="btn btn-lg btn-azul submitbutton"><i class="far fa-save"></i> Actualizar</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>
