@using Microsoft.AspNetCore.Identity
@using ContratoDigital.Areas.Identity.Data
@inject UserManager<ContratoDigitalUser> UserManager
@model PaginatedList<Prospecto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div style="background: url('../../../../images/background/prospect.jpg') no-repeat center center fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;min-height: 20rem;">
                    <h1 class="text-white text-center text-shadow" data-aos="fade-in" data-aos-delay="500" style="max-width: 350px;position:absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);">
                        Lista de prospectos
                    </h1>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 mt-4">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="@Url.Action("Create", "Prospectos")" class="btn btn-azul"><i class="far fa-plus-square"></i> Registrar Prospecto</a>
                    <a href="@Url.Action("Find", "Prospectos")" class="btn btn-azul"><i class="fas fa-search"></i>  Buscar prospectos</a>
                </div>
            </div>
        </div>

        @{
            bool isAsesor = false;
            if (ViewData["isAsesor"] != null)
            {
                isAsesor = (bool)ViewData["isAsesor"];
            }
        }

        


        <div class="row mt-4">
                            
                @if (Model.Count() > 0)
                {
                    @foreach (var item in Model)
                    {
                        <div class="col-12 col-md-6">
                            <div class="polymer-box">
                                <div class="row">
                                    <div class="col-12 col-md-4 font-weight-bold">Acciones</div>
                                    <div class="col-12 col-md-8 text-black-65 text-uppercase">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-qurii dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Acciones
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="@Url.Action("Details", "Prospectos", new { id = item.IdProspecto })"><i class="far fa-list-alt"></i> Detalles</a>
                                                <a class="dropdown-item" href="@Url.Action("Edit", "Prospectos", new { id = item.IdProspecto })"><i class="far fa-edit"></i> Editar</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12 col-md-4 font-weight-bold">Nombre</div>
                                    <div class="col-12 col-md-8 text-black-65 text-uppercase">
                                        @item.PrimerNombre @item.SegundoNombre @item.PrimerApellido @item.SegundoApellido
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12 col-md-4 font-weight-bold">Documento identificación</div>
                                    <div class="col-12 col-md-8 text-black-65 text-uppercase">@item.NumeroDocumento</div>
                                </div>

                                <div class="row">
                                    <div class="col-12 col-md-4 font-weight-bold">Teléfono</div>
                                    <div class="col-12 col-md-8 text-black-65 text-uppercase">@item.Telefono <br /> @item.Celular</div>
                                </div>

                                <div class="row">
                                    <div class="col-12 col-md-4 font-weight-bold"></div>
                                    <div class="col-12 col-md-8 text-black-65 text-uppercase"></div>
                                </div>

                                <div class="row">
                                    <div class="col-12 col-md-4 font-weight-bold">Email</div>
                                    <div class="col-12 col-md-8 text-black-65 text-uppercase">@item.Email</div>
                                </div>

                                <div class="row">
                                    <div class="col-12 col-md-4 font-weight-bold">Agencia</div>
                                    <div class="col-12 col-md-8 text-black-65 text-uppercase">@item.ConfirmacionProspecto.DescripcionAgencia</div>
                                </div>

                                <div class="row">
                                    <div class="col-12 col-md-4 font-weight-bold">Código del asesor</div>
                                    <div class="col-12 col-md-8 text-black-65 text-uppercase">                                                
                                        @item.ConfirmacionProspecto.Asesor
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12 col-md-4 font-weight-bold">Estado</div>
                                    <div class="col-12 col-md-8 text-black-65 text-uppercase">
                                        @if (item.ConfirmacionProspecto != null)
                                        {
                                            if (item.ConfirmacionProspecto.IsConfirmed == true)
                                            {
                                                <label class="text-success"><i class="fas fa-check"></i> confirmado</label>

                                            }
                                            else
                                            {
                                                <label class="text-muted"><i class="far fa-clock"></i> Por confirmar &nbsp;&nbsp;<span class="badge badge-qurii "><a href="@Url.Action("EmailConfirmacion", "Prospectos", new { id = item.IdProspecto })" class="text-white"><i class="fas fa-reply-all"></i>&nbsp;&nbsp;Reenvíar</a></span></label>

                                            }
                                        }
                                        else
                                        {
                                            <label class="text-danger"><i class="fas fa-ban"></i> No disponible</label>
                                        }
                                    </div>
                                </div>



                            </div>
                        </div>
                    }                    
                }
            @{
                var prevDisabled = !Model.HasPreviousPage ? "disabled btn-outline-primary" : "btn-primary";
                var nextDisabled = !Model.HasNextPage ? "disabled btn-outline-primary" : "btn-primary";
            }

            <div class="col-12">
                <div class="row mt-3 justify-content-center">
                    <div class="col-4 text-center">
                        <a href="@Url.Action("Index", "Prospectos", new {pageNumber = Model.PageIndex -1})" class="btn btn-qurii  @prevDisabled"><i class="fas fa-chevron-left"></i> Anterior</a>

                    </div>
                    <div class="col-4 text-center">
                        <a href="@Url.Action("Index", "Prospectos", new {pageNumber = Model.PageIndex +1})" class="btn btn-qurii   @nextDisabled">Siguiente <i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

