@using Microsoft.AspNetCore.Identity
@using ContratoDigital.Areas.Identity.Data
@inject SignInManager<ContratoDigitalUser> SignInManager
@inject UserManager<ContratoDigitalUser> UserManager
@inject RoleManager<IdentityRole> RoleManager;


@{
    ViewData["Title"] = "Dashboard";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div style="background: url('../../../../images/background/scooter.jpg') no-repeat center center fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;min-height: 20rem;">
                <h1 class="text-white text-center text-shadow" data-aos="fade-in" data-aos-delay="500" style="max-width: 50%;position:absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);">
                    Dashboard<br/>At a Glance
                </h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            <div class="polymer-box">
                <nav class="navbar navbar-expand-lg navbar-dark bg-azul">
                    <a class="navbar-brand" href="#">Reportes</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Reporte", "Dashboard")"><i class="far fa-edit"></i> Reporte</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="@Url.Action("ReporteDos", "Dashboard")"><i class="fas fa-receipt"></i>  Reporte dos</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="@Url.Action("ReporteTres", "Dashboard")"><i class="fas fa-envelope"></i> Reporte tres</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="@Url.Action("ReporteCuatro", "Dashboard")"><i class="far fa-file-pdf"></i> Reporte cuatro</a>
                            </li>
                        </ul>

                    </div>
                </nav>
            </div>
        </div>
        <div class="col-12 col-md-8">
            <div class="polymer-box">
                <h3><a href="@Url.Action("Users", "Dashboard")"><i class="fas fa-users"></i> Administración de usuarios</a></h3>
            </div>
        </div>
        <div class="col-12 col-md-8">
            <div class="polymer-box">
                <h3>Prospectos</h3>
                <p>Prospectos registrados: </p>
                <p>prospectos con contratos asignados: </p>
            </div>
        </div>
        <div class="col-12 col-md-8">
            <div class="polymer-box">
                <h3>Oportunidades</h3>
                <p>Oportunidades registradas: </p>
            </div>
        </div>
        <div class="col-12 col-md-8">
            <div class="polymer-box">
                <h3>Contratos</h3>
                <p>Contratos registrados:</p>
                <p>contratos pendientes:</p>
                <p>Contratos cerrados:</p>
            </div>
        </div>



        <div class="col-12">

        @*foreach (var item in UserManager.Users)
        {
            <div class="polymer-box">
                <div class="row">
                    <div class="col-12 col-md-4">Nombre</div>
                    <div class="col-12 col-md-8">@item.Nombre</div>

                </div>
                <div class="row">
                    <div class="col-12 col-md-4">USuario</div>
                    <div class="col-12 col-md-8">@item.UserName</div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">Email</div>
                    <div class="col-12 col-md-8">@item.Email</div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">ID Siicon</div>
                    <div class="col-12 col-md-8">@item.IdSiicon</div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">Asesor ID</div>
                    <div class="col-12 col-md-8">@item.Asesor</div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">Roles</div>
                    <div class="col-12 col-md-8"></div>
                </div>
            </div>
        }*@
        </div>
    </div>
</div>
