@model ContratoDigital.Models.Contrato

@{
    ViewData["Title"] = "Detalle del contrato de Adhesión - " + Model.numero_de_contrato;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div style="background: url('../../../../images/background/anotherscooter.jpg') no-repeat center center fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;min-height: 20rem;">
                    <h1 class="text-white text-center text-shadow" data-aos="fade-in" data-aos-delay="500" style="max-width: 350px;position:absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);">
                        Detalle de contrato De ahora
                    </h1>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <!-- Begin -->
            <div class="col-12 col-md-8 error-area">
                @if (ViewData["Status"]!=null)
                {
                    @*if ((string)ViewData["EmailResult"] == "Success")
                    {
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <strong>¡El correo ha sido envíado exitosamente!</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>¡Ha Ocurrido un error! : @ViewData["EmailResult"]</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    }*@


                }

                
            </div>

            <div class="col-12 col-md-8">
                <div class="polymer-box">
                    <h4 class="text-center">Datos suscriptor</h4>
                </div>
            </div>

            <div class="col-12 col-md-8">
                <div class="polymer-box">
                    <div class="row">
                        <div class="col-12 col-md-4 font-weight-bold">
                            Estado del contrato
                        </div>
                        <div class="col-12 col-md-8 text-black-65">
                            <div class="isAccepted">
                                @if (Model.ConfirmacionContratos.IsAccepted)
                                {
                                    <label class="text-success"><i class="fas fa-check"></i> Condiciones del contrato</label>
                                }
                                else
                                {
                                    <label class="text-muted"><i class="far fa-clock"></i> Condiciones del contrato&nbsp;&nbsp;<span class="badge badge-azul "><a href="@Url.Action("EmailContract", "ContratoDigital", new { id = Model.IdContrato })" class="text-white"><i class="fas fa-reply-all"></i>&nbsp;&nbsp;Reenvíar</a></span></label>
                                }
                            </div>
                            <div class="isUploaded">
                                @if (Model.ConfirmacionContratos.IsIdUploaded)
                                {
                                    <label class="text-success"><i class="fas fa-check"></i> Documento de identificación</label>
                                }
                                else
                                {
                                    <label class="text-muted"><i class="far fa-clock"></i> Documento identificación &nbsp;&nbsp;<span class="badge badge-azul "><a href="@Url.Action("RequestRemoteUpload", "ContratoDigital", new { idContrato= Model.IdContrato })" class="text-white"><i class="fas fa-reply-all"></i>&nbsp;&nbsp;Reenvíar</a></span></label>

                                }
                            </div>
                            <div class="isPaid">
                                @if (Model.ConfirmacionContratos.IsPaid)
                                {

                                    <label class="text-success"><i class="fas fa-check"></i> Pagado</label>
                                }
                                else
                                {
                                    <label class="text-muted"><i class="far fa-clock"></i> Por pagar &nbsp;&nbsp;<span class="badge badge-azul "><a href="@Url.Action("EmailInvoice", "ContratoDigital", new { id = Model.IdContrato })" class="text-white"><i class="fas fa-reply-all"></i>&nbsp;&nbsp;Reenvíar</a></span></label>

                                }
                            </div>
                            <div class="isVerified">
                                @if (Model.ConfirmacionContratos.IsVerified)
                                {
                                    <label class="text-success"><i class="fas fa-check"></i> ARD</label>
                                }
                                else
                                {
                                    <label class="text-muted"><i class="far fa-clock"></i> ARD</label>
                                }
                            </div>
                            <div>
                                <button class="btn btn-primary" data-contrato="@Model.IdContrato" id="RefreshStatusContrato"><i class="fas fa-sync"></i> Actualizar</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-8">               
                
                <div class="polymer-box">
                    <div class="row">
                        <div class="col-12 col-md-4 font-weight-bold">
                            Nombre
                        </div>
                        <div class="col-12 col-md-8 text-black-65 text-uppercase">
                            @(Model.primer_nombre + " " + Model.segundo_nombre + " " + Model.primer_apellido + " " + Model.segundo_apellido)
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-8">
                <div class="polymer-box">
                    <div class="row">
                        <div class="col-12 col-md-4 font-weight-bold">
                            Documento Identidad
                        </div>
                        <div class="col-12 col-md-8 text-black-65 text-uppercase">
                            @switch (Model.tipo_documento_identidad_suscriptor)
                            {
                                case "1":
                                    Write("CC - " + Model.documento_identidad_suscriptor);
                                    break;
                                case "2":
                                    Write("CE -" + Model.documento_identidad_suscriptor);
                                    break;
                                case "3":
                                    Write("NIT -" + Model.documento_identidad_suscriptor);
                                    break;
                                default:
                                    Write("CC -" + Model.documento_identidad_suscriptor);
                                    break;
                            }
                        </div>
                    </div>
                </div>
                @if (Model.DocumentoIdentidad != null)
                {
                    <div class="polymer-box">
                        <div class="row">
                            <div class="col-12 col-md-4 font-weight-bold">
                                Anverso del documento de identidad
                            </div>
                            <div class="col-12 col-md-8 text-black-65 text-uppercase">
                                @if (!String.IsNullOrEmpty(Model.DocumentoIdentidad.Anverso))
                                {
                                    <img src="data:image/png;base64, @Model.DocumentoIdentidad.Anverso" alt="Anverso del documento de identidad" class="img-fluid" />
                                }

                            </div>
                        </div>
                    </div>
                    <div class="polymer-box">
                        <div class="row">
                            <div class="col-12 col-md-4 font-weight-bold">
                                Reverso del documento de identidad
                            </div>
                            <div class="col-12 col-md-8 text-black-65 text-uppercase">
                                @if (!String.IsNullOrEmpty(Model.DocumentoIdentidad.Reverso))
                                {
                                <img src="data:image/png;base64, @Model.DocumentoIdentidad.Reverso" alt="Reverso del documento de identidad" class="img-fluid" />
                                }
                                
                            </div>
                        </div>
                    </div>
                    <div class="polymer-box">
                        <div class="row">
                            <div class="col-12 text-center">
                                <a href="@Url.Action("UploadId","ContratoDigital", new { id = Model.IdContrato })" class="btn btn-azul">Actualizar documento</a>                                
                                <a href="@Url.Action("RequestRemoteUpload", "ContratoDigital", new { idContrato = Model.IdContrato })" class="btn btn-azul">Solicitar actualización de documento</a>
                            </div>
                        </div>
                    </div>

                }
                else
                {
                    <div class="polymer-box">
                        <div class="row">
                            <div class="col-12 text-center">
                                <a href="@Url.Action("UploadId","ContratoDigital", new { id = Model.IdProspecto })" class="btn btn-azul">Adjuntar cédula</a>
                                <a href="@Url.Action("RequestRemoteUpload", "ContratoDigital", new { idContrato = Model.IdContrato })" class="btn btn-azul">Solicitar adjunto de documento</a>
                            </div>
                        </div>
                    </div>

                }
            </div>

            <div class="col-12 col-md-8">
                <div class="polymer-box">
                    <div class="row">
                        <div class="col-12 col-md-4 font-weight-bold">
                            Procedencia
                        </div>
                        <div class="col-12 col-md-8 text-black-65 text-uppercase">
                            @Model.procedencia_documento_identidad_suscriptor
                        </div>
                    </div>
                </div>
            </div>

            @if (!String.IsNullOrEmpty(Model.nombre_razon_social_representante_legal))
            {

                <div class="col-12 col-md-8 mt-3">
                    <div class="polymer-box">
                        <h5>Representante legal</h5>
                    </div>
                    <section class="polymer-box">

                        <div class="row">
                            <div class="col-12 col-md-4 font-weight-bold">
                                Nombre representante legal
                            </div>
                            <div class="col-12 col-md-8 text-black-65 text-uppercase">
                                @Model.nombre_razon_social_representante_legal
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-4 font-weight-bold">
                                Documento identidad
                            </div>
                            <div class="col-12 col-md-8 text-black-65 text-uppercase">
                                @(Model.tipo_documento_representante_legal + " - " + Model.documento_identidad_representante_legal)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-4 font-weight-bold">
                                Procedencia
                            </div>
                            <div class="col-12 col-md-8 text-black-65 text-uppercase">
                                @Model.procedencia_documento_identidad_representante_legal
                            </div>
                        </div>

                    </section>
                </div>

            }



            <div class="col-12 col-md-8">
                <div class="polymer-box">
                    <div class="row">
                        <div class="col-12 col-md-4 font-weight-bold">
                            Fecha de nacimiento
                        </div>
                        <div class="col-12 col-md-8 text-black-65 text-uppercase">
                            @String.Format("{0:dd-MM-yyyy}", Model.fecha_nacimiento_suscriptor)
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-8">
                <div class="polymer-box">
                    <div class="row">
                        <div class="col-12 col-md-4 font-weight-bold">
                            Lugar de nacimiento
                        </div>
                        <div class="col-12 col-md-8 text-black-65 text-uppercase">
                            @Model.lugar_nacimiento_suscriptor
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-8">
                <div class="polymer-box">
                    <div class="row">
                        <div class="col-12 col-md-4 font-weight-bold">
                            Sexo
                        </div>
                        <div class="col-12 col-md-8 text-black-65 text-uppercase">
                            @Model.sexo_suscriptor
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-8">
                <div class="polymer-box">
                    <div class="row">
                        <div class="col-12 col-md-4 font-weight-bold">
                            Estado civil
                        </div>
                        <div class="col-12 col-md-8 text-black-65 text-uppercase">
                            @Model.estado_civil_suscriptor
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-8">
                <div class="polymer-box">
                    <div class="row">
                        <div class="col-12 col-md-4 font-weight-bold">
                            Dirección domicilio
                        </div>
                        <div class="col-12 col-md-8 text-black-65 text-uppercase">
                            @Model.direccion_domicilio_suscriptor
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-8">
                <div class="polymer-box">
                    <div class="row">
                        <div class="col-12 col-md-4 font-weight-bold">
                            Ciudad, Departamento, País
                        </div>
                        <div class="col-12 col-md-8 text-black-65 text-uppercase">
                            @(Model.ciudad_suscriptor + ", " + Model.departamento_suscriptor + ", " + Model.pais_suscriptor)
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-8">
                <div class="polymer-box">
                    <div class="row">
                        <div class="col-12 col-md-4 font-weight-bold">
                            Teléfonos
                        </div>
                        <div class="col-12 col-md-8 text-black-65 text-uppercase">
                            @Model.telefono_suscriptor<br />@Model.celular_suscriptor
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-8">
                <div class="polymer-box">
                    <div class="row">
                        <div class="col-12 col-md-4 font-weight-bold">
                            Empresa donde labora
                        </div>
                        <div class="col-12 col-md-8 text-black-65 text-uppercase">
                            @Model.empresa_empleadora_suscriptor
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-8">
                <div class="polymer-box">
                    <div class="row">
                        <div class="col-12 col-md-4 font-weight-bold">
                            Cargo
                        </div>
                        <div class="col-12 col-md-8 text-black-65 text-uppercase">
                            @Model.cargo_suscriptor
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-8">
                <div class="polymer-box">
                    <div class="row">
                        <div class="col-12 col-md-4 font-weight-bold">
                            Ingresos y egresos
                        </div>
                        <div class="col-12 col-md-8 text-black-65 text-uppercase">
                            Ingresos: @String.Format("$ {0:0,0.00}", Model.ingresos_mensuales_suscriptor) <br />
                            Egresos: @String.Format("$ {0:0,0.00}", Model.egresos_mensuales_suscriptor)
                            @if (Model.otros_ingresos_suscriptor > 0)
                            {
                                <br />@("Otros: " + String.Format("$ {0:0,0.00}", Model.otros_ingresos_suscriptor))

                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-8">
                <div class="polymer-box">
                    <div class="row">
                        <div class="col-12 col-md-4 font-weight-bold">
                            Dirección laboral
                        </div>
                        <div class="col-12 col-md-8 text-black-65 text-uppercase">
                            @Model.direccion_empleo_suscriptor
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-8">
                <div class="polymer-box">
                    <div class="row">
                        <div class="col-12 col-md-4 font-weight-bold">
                            Ciudad, Departamento, País
                        </div>
                        <div class="col-12 col-md-8 text-black-65 text-uppercase">
                            @(Model.ciudad_empleo_suscriptor + ", " + Model.departamento_empleo_suscriptor + ", " + Model.pais_empleo_suscriptor)
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-8">
                <div class="polymer-box">
                    <div class="row">
                        <div class="col-12 col-md-4 font-weight-bold">
                            Teléfonos laborales
                        </div>
                        <div class="col-12 col-md-8 text-black-65 text-uppercase">
                            @Model.telefono_empleo_suscriptor<br />@Model.celular_empleo_suscriptor
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-8">
                <div class="polymer-box">
                    <div class="row">
                        <div class="col-12 col-md-4 font-weight-bold">
                            Profesión o actividad económica
                        </div>
                        <div class="col-12 col-md-8 text-black-65 text-uppercase">
                            @Model.profesion_suscriptor
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-8">
                <div class="polymer-box">
                    <div class="row">
                        <div class="col-12 col-md-4 font-weight-bold">
                            Envío de correspondencia
                        </div>
                        <div class="col-12 col-md-8 text-black-65 text-uppercase">
                            @Model.envio_correspondencia_suscriptor
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-8">
                <div class="polymer-box">
                    <div class="row">
                        <div class="col-12 col-md-4  font-weight-bold">
                            Email
                        </div>
                        <div class="col-12 col-md-8 text-black-65 text-uppercase">
                            @Model.email_suscriptor
                        </div>
                    </div>
                </div>
            </div>

            @if (Model.documento_identidad_suscriptor_conjunto > 0)
            {
                <div class="col-12 col-md-8 mt-4 font-weight-bold">
                    <div class="polymer-box">
                        <h4 class="text-center">Datos suscriptor conjunto</h4>
                    </div>
                </div>

                <div class="col-12 col-md-8">
                    <div class="polymer-box">
                        <div class="row">
                            <div class="col-12 col-md-4 font-weight-bold">
                                Nombre completo
                            </div>
                            <div class="col-12 col-md-8 text-black-65 text-uppercase">
                                @Model.nombre_suscriptor_conjunto
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-8">
                    <div class="polymer-box">
                        <div class="row">
                            <div class="col-12 col-md-4 font-weight-bold">
                                Documento identidad
                            </div>
                            <div class="col-12 col-md-8 text-black-65 text-uppercase">
                                @(Model.tipo_identidad_suscriptor_conjunto + " - " + Model.documento_identidad_suscriptor_conjunto)
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-8">
                    <div class="polymer-box">
                        <div class="row">
                            <div class="col-12 col-md-4 font-weight-bold">
                                De
                            </div>
                            <div class="col-12 col-md-8 text-black-65 text-uppercase">
                                @Model.procedencia_documento_identidad_suscriptor_conjunto
                            </div>
                        </div>
                    </div>
                </div>

                @if (!String.IsNullOrEmpty(Model.representante_legal_suscriptor_conjunto))
                {
                    <div class="col-12 col-md-8 mt-4">
                        <div class="polymer-box">
                            <div class="row">
                                <div class="col-12 col-md-4 font-weight-bold">
                                    Nombre representante legal
                                </div>
                                <div class="col-12 col-md-8 text-black-65 text-uppercase">
                                    @Model.representante_legal_suscriptor_conjunto
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-4 font-weight-bold">
                                    Documento de identidad
                                </div>
                                <div class="col-12 col-md-8 text-black-65 text-uppercase">
                                    @(Model.tipo_identidad_representante_legal_suscriptor_conjunto + " - " + Model.documento_identidad_representante_legal_suscriptor_conjunto)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-4 font-weight-bold">
                                    De
                                </div>
                                <div class="col-12 col-md-8 text-black-65 text-uppercase">
                                    @Model.procedencia_identificacion_representante_legal_suscriptor_conjunto
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <div class="col-12 col-md-8">
                    <div class="polymer-box">
                        <div class="row">
                            <div class="col-12 col-md-4 font-weight-bold">
                                Fecha de nacimiento
                            </div>
                            <div class="col-12 col-md-8 text-black-65 text-uppercase">
                                @Model.fecha_nacimiento_suscriptor_conjunto
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-8">
                    <div class="polymer-box">
                        <div class="row">
                            <div class="col-12 col-md-4 font-weight-bold">
                                Lugar de nacimiento
                            </div>
                            <div class="col-12 col-md-8 text-black-65 text-uppercase">
                                @Model.lugar_nacimiento_suscriptor_conjunto
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-8">
                    <div class="polymer-box">
                        <div class="row">
                            <div class="col-12 col-md-4 font-weight-bold">
                                Sexo
                            </div>
                            <div class="col-12 col-md-8 text-black-65 text-uppercase">
                                @Model.sexo_suscriptor_conjunto
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-8">
                    <div class="polymer-box">
                        <div class="row">
                            <div class="col-12 col-md-4 font-weight-bold">
                                Estado civil
                            </div>
                            <div class="col-12 col-md-8 text-black-65 text-uppercase">
                                @Model.estado_civil_suscriptor_conjunto
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-8">
                    <div class="polymer-box">
                        <div class="row">
                            <div class="col-12 col-md-4 font-weight-bold">
                                Dirección domicilio
                            </div>
                            <div class="col-12 col-md-8 text-black-65 text-uppercase">
                                @Model.direccion_suscriptor_conjunto
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-8">
                    <div class="polymer-box">
                        <div class="row">
                            <div class="col-12 col-md-4 font-weight-bold">
                                Ciudad, Departamento, País
                            </div>
                            <div class="col-12 col-md-8 text-black-65 text-uppercase">
                                @(Model.ciudad_suscriptor_conjunto + ", " + Model.departamento_suscriptor_conjunto + ", " + Model.pais_suscriptor_conjunto)
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-8">
                    <div class="polymer-box">
                        <div class="row">
                            <div class="col-12 col-md-4 font-weight-bold">
                                Teléfonos
                            </div>
                            <div class="col-12 col-md-8 text-black-65 text-uppercase">
                                @Model.telefono_suscriptor_conjunto<br />@Model.celular_suscriptor_conjunto
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-8">
                    <div class="polymer-box">
                        <div class="row">
                            <div class="col-12 col-md-4 font-weight-bold">
                                Empresa donde labora
                            </div>
                            <div class="col-12 col-md-8 text-black-65 text-uppercase">
                                @Model.empresa_empleadora_suscriptor_conjunto
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-8">
                    <div class="polymer-box">
                        <div class="row">
                            <div class="col-12 col-md-4 font-weight-bold">
                                Cargo
                            </div>
                            <div class="col-12 col-md-8 text-black-65 text-uppercase">
                                @Model.cargo_suscriptor_conjunto
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-8">
                    <div class="polymer-box">
                        <div class="row">
                            <div class="col-12 col-md-4 font-weight-bold">
                                Ingresos y Egresos
                            </div>
                            <div class="col-12 col-md-8 text-black-65 text-uppercase">
                                Ingresos: @String.Format("$ {0:0,0.00}", Model.ingresos_mensuales_suscriptor_conjunto)<br />
                                Egresos:  @String.Format("$ {0:0,0.00}", Model.egresos_mensuales_suscriptor_conjunto)<br />
                                @if (Model.otros_ingresos_suscriptor_conjunto > 0)
                                {
                                    String.Format("Otros: $ {0:0,0.00}", Model.otros_ingresos_suscriptor_conjunto);

                                }
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-8">
                    <div class="polymer-box">
                        <div class="row">
                            <div class="col-12 col-md-4 font-weight-bold">
                                Dirección laboral
                            </div>
                            <div class="col-12 col-md-8 text-black-65 text-uppercase">
                                @Model.direccion_empleo_suscriptor_conjunto
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-8">
                    <div class="polymer-box">
                        <div class="row">
                            <div class="col-12 col-md-4 font-weight-bold">
                                Ciudad, Departamento, País
                            </div>
                            <div class="col-12 col-md-8 text-black-65 text-uppercase">
                                @(Model.ciudad_empleo_suscriptor_conjunto + " - " + Model.departamento_empleo_suscriptor_conjunto + " - " + Model.pais_empleo_suscriptor_conjunto)
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-8">
                    <div class="polymer-box">
                        <div class="row">
                            <div class="col-12 col-md-4 font-weight-bold">
                                Teléfonos
                            </div>
                            <div class="col-12 col-md-8 text-black-65 text-uppercase">
                                @Model.telefono_empleo_suscriptor_conjunto<br />@Model.celular_empleo_suscriptor_conjunto
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-8">
                    <div class="polymer-box">
                        <div class="row">
                            <div class="col-12 col-md-4 font-weight-bold">
                                Profesión o actividad económica
                            </div>
                            <div class="col-12 col-md-8 text-black-65 text-uppercase">
                                @Model.profesion_suscriptor_conjunto
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-8">
                    <div class="polymer-box">
                        <div class="row">
                            <div class="col-12 col-md-4 font-weight-bold">
                                Envío de correspondencia
                            </div>
                            <div class="col-12 col-md-8 text-black-65 text-uppercase">
                                @Model.correspondencia_suscriptor_conjunto
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-8">
                    <div class="polymer-box">
                        <div class="row">
                            <div class="col-12 col-md-4 font-weight-bold">
                                Email
                            </div>
                            <div class="col-12 col-md-8 text-black-65 text-uppercase">
                                @Model.email_suscriptor_conjunto
                            </div>
                        </div>
                    </div>
                </div>

            }

            <div class="col-12 col-md-8 mt-4">
                <div class="polymer-box">
                    <h3 class="text-center">Características del bien</h3>
                </div>
            </div>

            <div class="col-12 col-md-8">
                <div class="polymer-box">
                    <div class="row">
                        <div class="col-12 col-md-4 font-weight-bold">
                            Compañía
                        </div>
                        <div class="col-12 col-md-8 text-black-65 text-uppercase">
                            @Model.compania
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-12 col-md-8">
                <div class="polymer-box">
                    <div class="row">
                        <div class="col-12 col-md-4 font-weight-bold">
                            Tipo de bien
                        </div>
                        <div class="col-12 col-md-8 text-black-65 text-uppercase">
                            @Model.tipo_de_bien
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-8">
                <div class="polymer-box">
                    <div class="row">
                        <div class="col-12 col-md-4 font-weight-bold">
                            Marca exclusiva
                        </div>
                        <div class="col-12 col-md-8 text-black-65 text-uppercase">
                            @Model.marca_exclusiva_bien
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-8">
                <div class="polymer-box">
                    <div class="row">
                        <div class="col-12 col-md-4 font-weight-bold">
                            Detalles del bien
                        </div>
                        <div class="col-12 col-md-8 text-black-65 text-uppercase">
                            @Model.descripcion_bien
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-8">
                <div class="polymer-box">
                    <div class="row">
                        <div class="col-12 col-md-4 font-weight-bold">
                            Codigo del bien
                        </div>
                        <div class="col-12 col-md-8 text-black-65 text-uppercase">
                            @Model.codigo_bien
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-8">
                <div class="polymer-box">
                    <div class="row">
                        <div class="col-12 col-md-4 font-weight-bold">
                            Valor del bien
                        </div>
                        <div class="col-12 col-md-8 text-black-65 text-uppercase">
                            @String.Format("$ {0:0,0.00}", Model.valor_bien)
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-8">
                <div class="polymer-box">
                    <div class="row">
                        <div class="col-12 col-md-4 font-weight-bold">
                            IVA
                        </div>
                        <div class="col-12 col-md-8 text-black-65 text-uppercase">
                            @Model.porcentaje_iva %
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4 font-weight-bold">
                            Porcentaje inscripción
                        </div>
                        <div class="col-12 col-md-8 text-black-65 text-uppercase">
                            @Model.porcentaje_cuota_ingreso %
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4 font-weight-bold">
                            Porcentaje administración
                        </div>
                        <div class="col-12 col-md-8 text-black-65 text-uppercase">
                            @Model.porcentaje_administracion %
                        </div>
                    </div>                    
                </div>
            </div>

            <div class="col-12 col-md-8">
                <div class="polymer-box">
                    <div class="row">
                        <div class="col-12 col-md-4 font-weight-bold">
                            Tipo de cuota
                        </div>
                        <div class="col-12 col-md-8 text-black-65 text-uppercase">
                            @Model.cuota_bien
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-8">
                <div class="polymer-box">
                    <div class="row">
                        <div class="col-12 col-md-4 font-weight-bold">
                            Plazo y Número participantes
                        </div>
                        <div class="col-12 col-md-8 text-black-65 text-uppercase">
                            @Model.plazo_bien
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-8 mt-4 font-weight-bold">
                <div class="polymer-box">
                    <h3 class="text-center">Pago inicial</h3>
                </div>
            </div>

            <div class="col-12 col-md-8">
                <div class="polymer-box">
                    <div class="row">
                        <div class="col-12 col-md-4 font-weight-bold">
                            Cuota de ingreso
                        </div>
                        <div class="col-12 col-md-8 text-black-65 text-uppercase">
                            @String.Format("$ {0:0,0.00}", Model.cuota_ingreso)
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-8">
                <div class="polymer-box">
                    <div class="row">
                        <div class="col-12 col-md-4 font-weight-bold">
                            I.V.A. sobre la cuota de ingreso
                        </div>
                        <div class="col-12 col-md-8 text-black-65 text-uppercase">
                            @String.Format("$ {0:0,0.00}", Model.iva_cuota_ingreso)
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-8">
                <div class="polymer-box">
                    <div class="row">
                        <div class="col-12 col-md-4 font-weight-bold">
                            Total cuota de ingreso
                        </div>
                        <div class="col-12 col-md-8 text-black-65 text-uppercase">
                            @String.Format("$ {0:0,0.00}", Model.total_cuota_ingreso)
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-8">
                <div class="polymer-box">
                    <div class="row">
                        <div class="col-12 col-md-4 font-weight-bold">
                            Primera cuota neta
                        </div>
                        <div class="col-12 col-md-8 text-black-65 text-uppercase">
                            @String.Format("$ {0:0,0.00}", Model.primera_cuota_neta)
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-8">
                <div class="polymer-box">
                    <div class="row">
                        <div class="col-12 col-md-4 font-weight-bold">
                            Administración
                        </div>
                        <div class="col-12 col-md-8 text-black-65 text-uppercase">
                            @String.Format("$ {0:0,0.00}", Model.administracion)
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-8">
                <div class="polymer-box">
                    <div class="row">
                        <div class="col-12 col-md-4 font-weight-bold">
                            I.V.A. sobre la administración
                        </div>
                        <div class="col-12 col-md-8 text-black-65 text-uppercase">
                            @String.Format("$ {0:0,0.00}", Model.iva_administracion)
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-8">
                <div class="polymer-box">
                    <div class="row">
                        <div class="col-12 col-md-4 font-weight-bold">
                            Total cuota bruta
                        </div>
                        <div class="col-12 col-md-8 text-black-65 text-uppercase">
                            @String.Format("$ {0:0,0.00}", Model.total_cuota_bruta)
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-8">
                <div class="polymer-box alert alert-success" role="alert">
                    <div class="row">
                        <div class="col-12 col-md-4 font-weight-bold">
                            Valor cuota primer pago
                        </div>
                        <div class="col-12 col-md-8 text-black-65 text-uppercase">
                            @String.Format("$ {0:0,0.00}", Model.valor_primer_pago)
                        </div>
                    </div>
                </div>
            </div>




            <!-- End -->
        </div>


        <div class="row mt-4">
            <div class="col">
                <hr />

                <nav class="navbar navbar-expand-lg navbar-dark bg-azul">
                    <a class="navbar-brand" href="@Url.Action("Details", "Prospectos", new { id=Model.IdProspecto })"><i class="far fa-arrow-alt-circle-left"></i> Regresar</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Edit", "ContratoDigital", new {id = Model.IdContrato })"><i class="far fa-edit"></i> Editar</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="@Url.Action("Generate", "ContratoDigital", new { id = Model.IdContrato })"><i class="far fa-file-pdf"></i> Generar contrato</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="@Url.Action("EmailContract", "ContratoDigital", new { id = Model.IdContrato })"><i class="fas fa-envelope"></i> Envíar contrato por correo</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="@Url.Action("Pay", "ContratoDigital", new { id = Model.IdContrato })"><i class="fas fa-receipt"></i> Generar pago</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="@Url.Action("EmailInvoice", "ContratoDigital", new { id = Model.IdContrato })"><i class="fas fa-envelope"></i> Envíar pago por correo</a>
                            </li>


                        </ul>
                            
                    </div>
                </nav>
               
            </div>
        </div>
    </div>
</section>

