@using Microsoft.AspNetCore.Identity
@using ContratoDigital.Areas.Identity.Data
@model ContratoDigital.Models.Contrato
@inject SignInManager<ContratoDigitalUser> SignInManager
@inject UserManager<ContratoDigitalUser> UserManager
@inject RoleManager<IdentityRole> RoleManager
@{
    //var userID = UserManager.GetUserId(User);
    var user = UserManager.Users.SingleOrDefault(x => x.Id == UserManager.GetUserId(User));
}
@{

    ViewData["Title"] = "Contrato Digital";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var tipoidentidad = (IQueryable<Estado>)ViewData["TipoIdentidad"];
    var sexo = (IQueryable<Estado>)ViewData["Sexo"];
    var estadoCivil = (IQueryable<Estado>)ViewData["EstadoCivil"];
    var departamento = (IQueryable<Estado>)ViewData["Departamento"];
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div style="background: url('../../../../images/background/anotherscooter.jpg') no-repeat center center fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;min-height: 20rem;">
                <h1 class="text-white text-center text-shadow" data-aos="fade-in" data-aos-delay="500" style="max-width: 350px;position:absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);">
                    Editar contrato
                </h1>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-12">
            <form method="post" class="ContratoValidation bootstrapValidation" autocomplete="off">
                <input type="hidden" name="IdContrato" id="IdContrato" value="@Model.IdContrato" />
                <div class="form-row text-center">
                    <div class="col-12 col-sm-12 col-md-4 ">



                    </div>
                    <div class="col-12 col-sm-12 col-md-4 ">
                        <h1>Contrato Digital</h1>
                        <h5>Hoja de datos del contrato de adhesión</h5>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4">
                        <label for="numero_de_contrato">Número de contrato</label>
                        <input type="text" id="numero_de_contrato" name="numero_de_contrato" readonly class="text-center form-control-plaintext form-control-lg azul font-weight-bold t-3" value="@Model.numero_de_contrato" required />
                    </div>
                </div>
                <!--#region suscriptor-->
                <section>
                    <div class="form-row">
                        <div class="col">
                            <div class="bg-azul p-3 mb-2 text-white text-center">
                                <h5 class="mb-0">Datos del suscriptor</h5>
                            </div>
                        </div>
                    </div>
                    <div class="form-row mt-4">
                        <div class="col-12 col-md-3">
                            <label for="primer_nombre">Primer nombre</label>
                            <input type="text" id="primer_nombre" name="primer_nombre" class="form-control form-control-lg text-uppercase" placeholder="Primer nombre" required value="@Model.primer_nombre" autocomplete="off">
                        </div>
                        <div class="col-12 col-md-3">
                            <label for="segundo_nombre">Segundo nombre</label>
                            <input type="text" id="segundo_nombre" name="segundo_nombre" class="form-control form-control-lg text-uppercase" placeholder="Segundo nombre" value="@Model.segundo_nombre" autocomplete="off">
                        </div>
                        <div class="col-12 col-md-3">
                            <label for="primer_apellido">Primer apellido</label>
                            <input type="text" id="primer_apellido" name="primer_apellido" class="form-control form-control-lg text-uppercase" placeholder="Primer apellido" required value="@Model.primer_apellido" autocomplete="off">
                        </div>
                        <div class="col-12 col-md-3">
                            <label for="segundo_apellido">Segundo apellido</label>
                            <input type="text" id="segundo_apellido" name="segundo_apellido" class="form-control form-control-lg text-uppercase" placeholder="Nombre (nombre completo o razón social)" value="@Model.segundo_apellido" autocomplete="off">
                        </div>

                    </div>
                    <div class="form-row mt-4">
                        <div class="col-12 col-md-4">
                            <label for="tipo_identificacion_suscriptor">Tipo de documento de identidad</label>
                            <select class="form-control form-control-lg" id="tipo_identificacion_suscriptor" name="tipo_identificacion_suscriptor" required autocomplete="off">
                                <option value="">Seleccione una opción</option>
                                @foreach (var item in tipoidentidad)
                                {
                                    @if (Model.tipo_documento_identidad_suscriptor == item.IdEstado.ToString())
                                    {
                                        <option selected="selected" value="@item.IdEstado">@item.Descripcion</option>
                                    }
                                    else
                                    {
                                        <option value="@item.IdEstado">@item.Descripcion</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-12 col-md-4">
                            <label for="documento_identidad_suscriptor">Número de documento de identidad</label>
                            <input type="text" class="form-control form-control-lg" placeholder="ie: 10000000" id="documento_identidad_suscriptor" name="documento_identidad_suscriptor" required value="@Model.documento_identidad_suscriptor" autocomplete="off" />
                        </div>
                        <div class="col-12 col-md-4">
                            <label for="departamentoDocumentoSuscriptor">Departamento</label>
                            <select id="departamentoDocumentoSuscriptor" name="departamentoDocumentoSuscriptor" class="form-control form-control-lg">
                                <option value="">Seleccione un tipo</option>
                                @foreach (var item in departamento)
                                {
                                    if (item.IdEstado == int.Parse(Model.departamento_suscriptor))
                                    {
                                        <option value="@item.IdEstado" data-idsiicon="@item.IdSiicon" selected>@item.Descripcion</option>
                                    }
                                    else
                                    {
                                        <option value="@item.IdEstado" data-idsiicon="@item.IdSiicon">@item.Descripcion</option>
                                    }


                                }
                            </select>
                        </div>
                        <div class="col-12 col-md-4">
                            <label for="procedencia_documento_identidad_suscriptor">De:</label>
                            <select class="form-control form-control-lg text-uppercase" id="procedencia_documento_identidad_suscriptor" name="procedencia_documento_identidad_suscriptor" required autocomplete="off">
                                <option value="">Seleccione una opción</option>
                                <option value="@Model.procedencia_documento_identidad_suscriptor" selected>@ViewData["ProcedenciaIdentidadSuscriptor"]</option>
                            </select>
                        </div>
                    </div>
                </section>
                <!--#endregion-->
                <!--#region representate legal suscriptor-->

                <div class="form-row mt-2 @(Model.documento_identidad_representante_legal > 0 ? Html.Raw("d-none") : Html.Raw("")) ">
                    <div class="col">
                        <a class="btn btn-azul text-white" id="isRepreentanteLegal"><i class="fas fa-plus"></i> Agregar representante legal</a>
                    </div>
                </div>

                <section class="@(Model.documento_identidad_representante_legal > 0 ? Html.Raw("") : Html.Raw("d-none") )" id="RepreentanteLegalSection" autocomplete="off">
                    <div class="card mt-4 border-azul ">
                        <div class="card-header text-white bg-azul">
                            Representante legal suscriptor
                        </div>
                        <div class="card-body">
                            <div class="form-row mt-1">
                                <div class="col-12">
                                    <label for="nombre_razon_social_representante_legal">Nombre representante legal (solo personas jurídicas)</label>
                                    <input type="text" class="form-control form-control-lg text-uppercase" id="nombre_razon_social_representante_legal" name="nombre_razon_social_representante_legal" placeholder="Nombre representante legal (solo personas jurídicas)" value="@Model.nombre_razon_social_representante_legal" autocomplete="off" />
                                </div>
                            </div>
                            <div class="form-row mt-4">
                                <div class="col-12 col-md-4">
                                    <label for="tipo_documento_representante_legal">Tipo de documento representante legal</label>
                                    <select class="form-control form-control-lg" id="tipo_documento_representante_legal" name="tipo_documento_representante_legal" autocomplete="off" autocomplete="off">
                                        <option value="">Seleccione una opción</option>
                                        @foreach (var item in tipoidentidad)
                                        {
                                            @if (Model.tipo_documento_representante_legal == item.IdEstado.ToString())
                                            {
                                                <option selected="selected" value="@item.IdEstado">@item.Descripcion</option>
                                            }
                                            else
                                            {
                                                <option value="@item.IdEstado">@item.Descripcion</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="col-12 col-md-4">
                                    <label for="documento_identidad_representante_legal">Número de documento representate legal</label>
                                    <input type="text" class="form-control form-control-lg" placeholder="ie: 10000000" id="documento_identidad_representante_legal" name="documento_identidad_representante_legal" value="@Model.documento_identidad_representante_legal" autocomplete="off" />
                                </div>
                                <div class="col-12 col-md-4">
                                    <label for="departamentoDocumentoRepresentanteLegal">Departamento</label>
                                    <select class="form-control form-control-lg" id="departamentoDocumentoRepresentanteLegal" name="departamentoDocumentoRepresentanteLegal" required autocomplete="off">
                                        <option value="">Seleccione un tipo</option>
                                        @foreach (var item in departamento)
                                        {
                                            <option value="@item.IdEstado" data-idsiicon="@item.IdSiicon">@item.Descripcion</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-12 col-md-4">
                                    <label for="procedencia_documento_identidad_representante_legal">De:</label>
                                    <select class="form-control form-control-lg text-uppercase" id="procedencia_documento_identidad_representante_legal" name="procedencia_documento_identidad_representante_legal" value="@Model.procedencia_documento_identidad_representante_legal" autocomplete="off">
                                        <option vallue="">Seleccione un opción</option>
                                        <option value="@Model.procedencia_documento_identidad_representante_legal">@ViewData["ProcedenciaIdentidadRepresentanteLegal"]</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <!--#endregion-->
                <!--#region datos del sucriptor-->

                <section>
                    <div class="form-row mt-4">
                        <div class="col-12 col-md-3">
                            <label for="fecha_nacimiento_suscriptor">Fecha de nacimiento</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="fecha_nacimiento_suscriptor_addon"><i class="far fa-calendar-alt"></i></span>
                                </div>
                                <input type="text" id="fecha_nacimiento_suscriptor" name="fecha_nacimiento_suscriptor" class="form-control form-control-lg" placeholder="ej: @DateTime.Today.ToString("yyyy-MM-dd")" aria-label="fecha_nacimiento_suscriptor" aria-describedby="fecha_nacimiento_suscriptor" required readonly value="@String.Format("{0:dd-MM-yyyy}", Model.fecha_nacimiento_suscriptor)" autocomplete="off" />
                            </div>

                        </div>
                        <div class="col-12 col-md-3">
                            <label for="lugar_nacimiento_suscriptor">Lugar de nacimiento</label>
                            <input type="text" id="lugar_nacimiento_suscriptor" name="lugar_nacimiento_suscriptor" class="form-control form-control-lg text-uppercase" required value="@Model.lugar_nacimiento_suscriptor" autocomplete="off" />
                        </div>
                        <div class="col-12 col-md-3">
                            <label for="sexo_suscriptor">Sexo</label>
                            <select class="form-control form-control-lg" id="sexo_suscriptor" name="sexo_suscriptor" required autocomplete="off">
                                <option value="">Seleccione una opción</option>
                                @foreach (var item in sexo)
                                {
                                    @if (Model.sexo_suscriptor == item.IdEstado.ToString())
                                    {
                                        <option selected="selected" value="@item.IdEstado">@item.Descripcion</option>
                                    }
                                    else
                                    {
                                        <option value="@item.IdEstado">@item.Descripcion</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-12 col-md-3">
                            <label for="estado_civil_suscriptor">Estado civil</label>
                            <select class="form-control form-control-lg" id="estado_civil_suscriptor" name="estado_civil_suscriptor" required autocomplete="off">
                                <option value="">Seleccione una opción</option>
                                @foreach (var item in estadoCivil)
                                {
                                    @if (Model.estado_civil_suscriptor == item.IdEstado.ToString())
                                    {
                                        <option selected="selected" value="@item.IdEstado">@item.Descripcion</option>
                                    }
                                    else
                                    {
                                        <option value="@item.IdEstado">@item.Descripcion</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-row mt-4">
                        <div class="col">
                            <label for="direccion_domicilio_suscriptor">Dirección domicilio</label>
                            <input type="text" class="form-control form-control-lg text-uppercase" id="direccion_domicilio_suscriptor" name="direccion_domicilio_suscriptor" required value="@Model.direccion_domicilio_suscriptor" autocomplete="off" />
                        </div>
                    </div>

                    <div class="form-row mt-4">
                        <div class="col-12 col-md-4">
                            <label for="pais_suscriptor">País</label>
                            <input type="text" class="form-control-lg form-control-plaintext text-uppercase" readonly value="Colombia" id="pais_suscriptor" name="pais_suscriptor" autocomplete="off" />
                        </div>
                        <div class="col-12 col-md-4">
                            <label for="departamento_suscriptor">Departamento</label>
                            <select class="form-control form-control-lg" id="departamento_suscriptor" name="departamento_suscriptor" required autocomplete="off">
                                <option value="">Seleccione una opción</option>
                                @foreach (var item in departamento)
                                {
                                    @if (Model.departamento_suscriptor == item.IdEstado.ToString())
                                    {
                                        <option selected="selected" value="@item.IdEstado" data-idsiicon="@item.IdSiicon">@item.Descripcion</option>
                                    }
                                    else
                                    {
                                        <option value="@item.IdEstado" data-idsiicon="@item.IdSiicon">@item.Descripcion</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-12 col-md-4">
                            <label for="ciudad_suscriptor">Ciudad</label>
                            <select type="text" class="form-control form-control-lg text-uppercase" id="ciudad_suscriptor" name="ciudad_suscriptor" required autocomplete="off" readonly>
                                <option value="">Seleccione una opción</option>
                                <option value="@Model.ciudad_suscriptor" selected>@ViewData["CiudadSuscriptor"]</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-row mt-4">
                        <div class="col-12 col-md-6">
                            <label for="telefono_suscriptor">Teléfono</label>
                            <input type="tel" class="form-control form-control-lg text-uppercase" id="telefono_suscriptor" name="telefono_suscriptor" required value="@Model.telefono_suscriptor" autocomplete="off" />
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="celular_suscriptor">Celular/Móvil</label>
                            <input type="tel" class="form-control form-control-lg text-uppercase" id="celular_suscriptor" name="celular_suscriptor" required value="@Model.celular_suscriptor" autocomplete="off" />
                        </div>
                    </div>

                    <div class="form-row mt-4 mb-2">
                        <div class="col">
                            <div class="bg-azul p-1 mb-2 text-white text-center">
                                <h5 class="mb-0 t-1">Datos laborales del suscriptor</h5>
                            </div>
                        </div>
                    </div>

                    <div class="form-row mt-4">
                        <div class="col-12 col-md-6">
                            <label for="empresa_empleadora_suscriptor">Empresa donde labora</label>
                            <input type="text" class="form-control form-control-lg text-uppercase" id="empresa_empleadora_suscriptor" name="empresa_empleadora_suscriptor" required value="@Model.empresa_empleadora_suscriptor" autocomplete="off" />
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="cargo_suscriptor">Cargo</label>
                            <input type="text" class="form-control form-control-lg text-uppercase" name="cargo_suscriptor" id="cargo_suscriptor" required value="@Model.cargo_suscriptor" autocomplete="off" />
                        </div>
                    </div>

                    <div class="form-row mt-4">
                        <div class="col-12 col-md-4">
                            <label for="ingresos_mensuales_suscriptor">Ingresos mensuales</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="ingresos_en_pesos_addon">$</span>
                                </div>
                                <input type="text" class="form-control form-control-lg" aria-label="ingresos_mensuales_suscriptor" aria-describedby="ingresos_en_pesos_addon" id="ingresos_mensuales_suscriptor" name="ingresos_mensuales_suscriptor" placeholder="0.00" required value="@String.Format("{0:0,0.00}", Model.ingresos_mensuales_suscriptor)" autocomplete="off" />
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <label for="egresos_mensuales_suscriptor">Egresos mensuales</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="egresos_en_pesos_addon">$</span>
                                </div>
                                <input type="text" class="form-control form-control-lg" aria-label="egresos_mensuales_suscriptor" aria-describedby="egresos_en_pesos_addon" id="egresos_mensuales_suscriptor" name="egresos_mensuales_suscriptor" placeholder="0.00" required value="@String.Format("{0:0,0.00}", Model.egresos_mensuales_suscriptor)" autocomplete="off" />
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <label for="otros_ingresos_suscriptor">Otros ingresos</label>
                            <div class="input-group">
                                <span class="input-group-prepend">
                                    <span class="input-group-text" id="otros_ingresos_en_pesos_addon">$</span>
                                </span>
                                <input type="text" class="form-control form-control-lg" aria-label="otros_ingresos_suscriptor" aria-describedby="otros_ingresos_en_pesos_addon" id="otros_ingresos_suscriptor" name="otros_ingresos_suscriptor" placeholder="0.00" required value="@String.Format("{0:0,0.00}", Model.otros_ingresos_suscriptor)" autocomplete="off" />
                            </div>
                        </div>
                    </div>

                    <div class="form-row mt-4">
                        <div class="col">
                            <label for="direccion_empleo_suscriptor">Dirección oficina (laboral)</label>
                            <input type="text" class="form-control form-control-lg text-uppercase" id="direccion_empleo_suscriptor" name="direccion_empleo_suscriptor" required value="@Model.direccion_empleo_suscriptor" autocomplete="off" />
                        </div>
                    </div>

                    <div class="form-row mt-4">
                        <div class="col-12 col-md-4">
                            <label for="pais_laboral_suscriptor">País</label>
                            <input type="text" class="form-control-lg form-control-plaintext text-uppercase" id="pais_laboral_suscriptor" name="pais_laboral_suscriptor" readonly value="Colombia" autocomplete="off" />
                        </div>
                        <div class="col-12 col-md-4">
                            <label for="departamento_empleo_suscriptor">Departamento</label>
                            <select class="form-control form-control-lg" id="departamento_empleo_suscriptor" name="departamento_empleo_suscriptor" required autocomplete="off">
                                <option value="">Seleccione una opción</option>
                                @foreach (var item in departamento)
                                {
                                    @if (Model.departamento_empleo_suscriptor == item.IdEstado.ToString())
                                    {
                                        <option selected="selected" value="@item.IdEstado" data-idsiicon="@item.IdSiicon">@item.Descripcion</option>
                                    }
                                    else
                                    {
                                        <option value="@item.IdEstado" data-idsiicon="@item.IdSiicon">@item.Descripcion</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-12 col-md-4">
                            <label for="ciudad_empleo_suscriptor">Ciudad</label>
                            <select class="form-control form-control-lg text-uppercase" id="ciudad_empleo_suscriptor" name="ciudad_empleo_suscriptor" required autocomplete="off">
                                <option value="">Seleccione una opción</option>
                                <option value="@Model.ciudad_empleo_suscriptor" selected>@ViewData["CiudadLaboralSuscriptor"]</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-row mt-4">
                        <div class="col-12 col-md-6">
                            <label for="telefono_empleo_suscriptor">Teléfono</label>
                            <input type="tel" class="form-control form-control-lg" id="telefono_empleo_suscriptor" name="telefono_empleo_suscriptor" value="@Model.telefono_empleo_suscriptor" autocomplete="off" />
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="celular_empleo_suscriptor">Celular/Móvil</label>
                            <input type="tel" class="form-control form-control-lg" id="celular_empleo_suscriptor" name="celular_empleo_suscriptor" value="@Model.celular_empleo_suscriptor" autocomplete="off" />
                        </div>
                    </div>

                    <div class="form-row mt-4">
                        <div class="col-12 col-md-4">
                            <label for="profesion_suscriptor">Profesión o actividad económica</label>
                            <input type="text" class="form-control form-control-lg text-uppercase" id="profesion_suscriptor" name="profesion_suscriptor" required value="@Model.profesion_suscriptor" autocomplete="off" />
                        </div>
                        <div class="col-12 col-md-4">
                            <label for="envio_correspondencia_suscriptor">Envío de correspondencia</label>
                            <select class="form-control form-control-lg" id="envio_correspondencia_suscriptor" name="envio_correspondencia_suscriptor" required autocomplete="off">
                                <option value="">Seleccione una opción</option>
                                @(Model.envio_correspondencia_suscriptor == "domicilio" ? Html.Raw("<option value=\"domicilio\"  selected=\"selected\">Domicilio</option>") : Html.Raw("<option value=\"domicilio\">Domicilio</option>"))
                                @(Model.envio_correspondencia_suscriptor == "oficina" ? Html.Raw("<option value=\"oficina\"  selected=\"selected\">Oficina</option>") : Html.Raw("<option value=\"vichada\">oficina</option>"))
                                @(Model.envio_correspondencia_suscriptor == "correoelectronico" ? Html.Raw("<option value=\"correoelectronico\"  selected=\"selected\">Correo electrónico</option>") : Html.Raw("<option value=\"correoelectronico\">Correo electrónico</option>"))
                            </select>
                        </div>
                        <div class="col-12 col-md-4">
                            <label for="email_suscriptor">Correo electrónico</label>
                            <input type="email" class="form-control form-control-lg text-uppercase" id="email_suscriptor" name="email_suscriptor" required value="@Model.email_suscriptor" autocomplete="off" />
                        </div>
                    </div>
                </section>
                <!--#endregion-->

                <div class="form-row mt-2 @(Model.documento_identidad_suscriptor_conjunto > 0 ? Html.Raw("d-none") : Html.Raw("")) ">
                    <div class="col">
                        <a class="btn btn-azul text-white" id="isSuscriptorConjunto"><i class="fas fa-plus"></i> Agregar suscriptor conjunto</a>
                    </div>
                </div>

                <section class="@(Model.documento_identidad_suscriptor_conjunto > 0 ? Html.Raw("") : Html.Raw("d-none") )" id="SuscriptorConjuntoSection">

                    <!--#region suscriptor conjunto-->
                    <section>
                        <div class="form-row mt-4 mb-2">
                            <div class="col">
                                <div class="bg-azul p-3 mb-2 text-white text-center">
                                    <h5 class="mb-0">Datos del suscriptor conjunto</h5>
                                </div>
                            </div>
                        </div>

                        <div class="form-row mt-4">
                            <div class="col">
                                <label for="nombre_suscriptor_conjunto">Nombre (apellidos y nombres o razón social si aplica)</label>
                                <input type="text" class="form-control form-control-lg text-uppercase" id="nombre_suscriptor_conjunto" name="nombre_suscriptor_conjunto" value="@Model.nombre_suscriptor_conjunto" autocomplete="off" />
                            </div>
                        </div>
                        <div class="form-row mt-4">
                            <div class="col-12 col-md-4">
                                <label for="tipo_identidad_suscriptor_conjunto">Tipo de documento de identidad</label>
                                <select class="form-control form-control-lg" id="tipo_identidad_suscriptor_conjunto" name="tipo_identidad_suscriptor_conjunto" autocomplete="off">
                                    <option value="">Seleccione una opción</option>
                                    @foreach (var item in tipoidentidad)
                                    {
                                        @if (Model.tipo_identidad_suscriptor_conjunto == item.IdEstado.ToString())
                                        {
                                            <option selected="selected" value="@item.IdEstado">@item.Descripcion</option>
                                        }
                                        else
                                        {
                                            <option value="@item.IdEstado">@item.Descripcion</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-12 col-md-4">
                                <label for="documento_identidad_suscriptor_conjunto">Número documento identidad</label>
                                <input type="text" class="form-control form-control-lg" id="documento_identidad_suscriptor_conjunto" name="documento_identidad_suscriptor_conjunto" value="@Model.documento_identidad_suscriptor_conjunto" autocomplete="off" />
                            </div>
                            <div class="col-12 col-md-4">
                                <label for="departamentoDocumentoSuscriptorConjunto">Departamento</label>
                                <select id="departamentoDocumentoSuscriptorConjunto" name="departamentoDocumentoSuscriptorConjunto" class="form-control form-control-lg">
                                    <option value="">Seleccione un tipo</option>
                                    @foreach (var item in departamento)
                                    {
                                        <option value="@item.IdEstado" data-idsiicon="@item.IdSiicon">@item.Descripcion</option>
                                    }
                                </select>
                            </div>
                            <div class="col-12 col-md-4">
                                <label for="procedencia_documento_identidad_suscriptor_conjunto">De: </label>
                                <select class="form-control form-control-lg text-uppercase" id="procedencia_documento_identidad_suscriptor_conjunto" name="procedencia_documento_identidad_suscriptor_conjunto" autocomplete="off" readonly>
                                    <option value="@Model.procedencia_documento_identidad_suscriptor_conjunto" selected>@ViewData["ProcedenciaIdentidadSuscriptorConjunto"]</option>
                                    <option value="">Seleccione una opción</option>
                                </select>
                            </div>
                        </div>
                    </section>
                    <!--#endregion-->
                    <div class="form-row mt-2 @(Model.documento_identidad_representante_legal_suscriptor_conjunto > 0 ? Html.Raw("d-none") : Html.Raw("")) ">
                        <div class="col">
                            <a class="btn btn-azul text-white" id="isRepreentanteLegalConjunto"><i class="fas fa-plus"></i> Agregar representante legal</a>
                        </div>
                    </div>
                    <!--#region representante legal suscriptor conjunto-->
                    <section class="@(Model.documento_identidad_representante_legal_suscriptor_conjunto > 0 ? Html.Raw("") : Html.Raw("d-none") )" id="RepresentanteLegalConjuntoSection">
                        <div class="card mt-4 border-azul ">
                            <div class="card-header text-white bg-azul">
                                Representante legal suscriptor conjunto
                            </div>
                            <div class="card-body">

                                <div class="form-row mt-4">
                                    <div class="col">
                                        <label for="representante_legal_suscriptor_conjunto">Nombre representante legal (solo personas jurídicas)</label>
                                        <input type="text" class="form-control form-control-lg text-uppercase" id="representante_legal_suscriptor_conjunto" name="representante_legal_suscriptor_conjunto" value="@Model.representante_legal_suscriptor_conjunto" autocomplete="off" />
                                    </div>
                                </div>

                                <div class="form-row mt-4">
                                    <div class="col-12 col-md-4">
                                        <label for="tipo_identidad_representante_legal_suscriptor_conjunto">Tipo de documento de identidad</label>
                                        <select id="tipo_identidad_representante_legal_suscriptor_conjunto" name="tipo_identidad_representante_legal_suscriptor_conjunto" class="form-control form-control-lg" autocomplete="off">
                                            <option value="">Seleccione una opción</option>
                                            @foreach (var item in tipoidentidad)
                                            {
                                                @if (Model.tipo_identidad_representante_legal_suscriptor_conjunto == item.IdEstado.ToString())
                                                {
                                                    <option selected="selected" value="@item.IdEstado">@item.Descripcion</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.IdEstado">@item.Descripcion</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <label for="documento_identidad_representante_legal_suscriptor_conjunto">Número de documento identidad</label>
                                        <input type="text" id="documento_identidad_representante_legal_suscriptor_conjunto" name="documento_identidad_representante_legal_suscriptor_conjunto" class="form-control form-control-lg text-uppercase" value="@Model.documento_identidad_representante_legal_suscriptor_conjunto" autocomplete="off" />
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <label for="departamentoDocumentoLegalSuscriptorConjunto">Departamento</label>
                                        <select id="departamentoDocumentoLegalSuscriptorConjunto" name="departamentoDocumentoLegalSuscriptorConjunto" class="form-control form-control-lg">
                                            <option value="">Seleccione un tipo</option>
                                            @foreach (var item in departamento)
                                            {
                                                <option value="@item.IdEstado" data-idsiicon="@item.IdSiicon">@item.Descripcion</option>

                                            }
                                        </select>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <label for="procedencia_identificacion_representante_legal_suscriptor_conjunto">De:</label>
                                        <select class="form-control form-control-lg text-uppercase" id="procedencia_identificacion_representante_legal_suscriptor_conjunto" name="procedencia_identificacion_representante_legal_suscriptor_conjunto" autocomplete="off" readonly>
                                            <option value="@Model.procedencia_documento_identidad_representante_legal" selected>@ViewData["ProcedenciaIdentidadRepresentanteLegalConjunto"]</option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </section>

                    <!--#endregion-->
                    <!--#region Datos del suscriptor conjunto-->
                    <section>
                        <div class="form-row mt-4">
                            <div class="col-12 col-md-3">
                                <label for="fecha_nacimiento_suscriptor_conjunto">Fecha de nacimiento</label>
                                <input class="form-control form-control-lg" id="fecha_nacimiento_suscriptor_conjunto" name="fecha_nacimiento_suscriptor_conjunto" value="@String.Format("{0:dd-MM-yyyy}", Model.fecha_nacimiento_suscriptor_conjunto)" autocomplete="off" />
                            </div>
                            <div class="col-12 col-md-3">
                                <label for="lugar_nacimiento_suscriptor_conjunto">Lugar</label>
                                <input type="text" id="lugar_nacimiento_suscriptor_conjunto" name="lugar_nacimiento_suscriptor_conjunto" class="form-control form-control-lg text-uppercase" value="@Model.lugar_nacimiento_suscriptor_conjunto" autocomplete="off" />
                            </div>
                            <div class="col-12 col-md-3">
                                <label for="sexo_suscriptor_conjunto">Sexo</label>
                                <select class="form-control form-control-lg" id="sexo_suscriptor_conjunto" name="sexo_suscriptor_conjunto" autocomplete="off">
                                    <option value="">Seleccione una opción</option>
                                    @foreach (var item in sexo)
                                    {
                                        @if (Model.sexo_suscriptor_conjunto == item.IdEstado.ToString())
                                        {
                                            <option selected="selected" value="@item.IdEstado">@item.Descripcion</option>
                                        }
                                        else
                                        {
                                            <option value="@item.IdEstado">@item.Descripcion</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-12 col-md-3">
                                <label for="estado_civil_suscriptor_conjunto">Estado civil</label>
                                <select class="form-control form-control-lg" id="estado_civil_suscriptor_conjunto" name="estado_civil_suscriptor_conjunto" autocomplete="off">
                                    <option value="">Seleccione una opción</option>
                                    @foreach (var item in estadoCivil)
                                    {
                                        @if (Model.estado_civil_suscriptor_conjunto == item.IdEstado.ToString())
                                        {
                                            <option selected="selected" value="@item.IdEstado">@item.Descripcion</option>
                                        }
                                        else
                                        {
                                            <option value="@item.IdEstado">@item.Descripcion</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-row mt-4">
                            <div class="col-12 col-md-4">
                                <label for="dirección_suscriptor_conjunto">Dirección Domicilio</label>
                                <input type="text" class="form-control form-control-lg text-uppercase" id="dirección_suscriptor_conjunto" name="dirección_suscriptor_conjunto" value="@Model.direccion_suscriptor_conjunto" autocomplete="off" />
                            </div>
                        </div>
                        <div class="form-row mt-4">
                            <div class="col-12 col-md-4">
                                <label for="departamento_suscriptor_conjunto">Departamento</label>
                                <select class="form-control form-control-lg" id="departamento_suscriptor_conjunto" name="departamento_suscriptor_conjunto" autocomplete="off">
                                    <option value="">Seleccione una opción</option>
                                    @foreach (var item in departamento)
                                    {
                                        @if (Model.departamento_suscriptor_conjunto == item.IdEstado.ToString())
                                        {
                                            <option selected="selected" value="@item.IdEstado" data-idsiicon="@item.IdSiicon">@item.Descripcion</option>
                                        }
                                        else
                                        {
                                            <option value="@item.IdEstado" data-idsiicon="@item.IdSiicon">@item.Descripcion</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-12 col-md-4">
                                <label for="ciudad_suscriptor_conjunto">Ciudad</label>
                                <select class="form-control form-control-lg text-uppercase" id="ciudad_suscriptor_conjunto" name="ciudad_suscriptor_conjunto" autocomplete="off" readonly>
                                    <option value="@Model.ciudad_empleo_suscriptor_conjunto" selected>@ViewData["CiudadSuscriptorConjunto"]</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row mt-4">
                            <div class="col-12 col-md-6">
                                <label for="telefono_suscriptor_conjunto">Teléfono</label>
                                <input type="text" class="form-control form-control-lg" id="telefono_suscriptor_conjunto" name="telefono_suscriptor_conjunto" value="@Model.telefono_suscriptor_conjunto" autocomplete="off" />
                            </div>
                            <div class="col-12 col-md-6">
                                <label for="celular_suscriptor_conjunto">Celular</label>
                                <input type="text" class="form-control form-control-lg" id="celular_suscriptor_conjunto" name="celular_suscriptor_conjunto" value="@Model.celular_suscriptor_conjunto" autocomplete="off" />
                            </div>
                        </div>

                        <div class="form-row mt-4">
                            <div class="col-12 col-md-6">
                                <label for="empresa_empleadora_suscriptor_conjunto">Empresa donde labora</label>
                                <input type="text" class="form-control form-control-lg text-uppercase" id="empresa_empleadora_suscriptor_conjunto" name="empresa_empleadora_suscriptor_conjunto" value="@Model.empresa_empleadora_suscriptor_conjunto" autocomplete="off" />
                            </div>
                            <div class="col-12 col-md-6">
                                <label for="cargo_suscriptor_conjunto">Cargo</label>
                                <input type="text" class="form-control form-control-lg text-uppercase" id="cargo_suscriptor_conjunto" name="cargo_suscriptor_conjunto" value="@Model.cargo_suscriptor_conjunto" autocomplete="off" />
                            </div>
                        </div>

                        <div class="form-row mt-4">
                            <div class="col-12 col-md-4">
                                <label for="ingresos_mensuales_suscriptor_conjunto">Ingresos mensuales</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="ingresos_en_pesos_conjunto_addon">$</span>
                                    </div>
                                    <input type="text" class="form-control form-control-lg" aria-label="ingresos_mensuales_suscriptor_conjunto" aria-describedby="ingresos_en_pesos_conjunto_addon" id="ingresos_mensuales_suscriptor_conjunto" name="ingresos_mensuales_suscriptor_conjunto" placeholder="0.00" value="@String.Format("{0:0,0.00}", Model.ingresos_mensuales_suscriptor_conjunto)" autocomplete="off" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <label for="egresos_mensuales_suscriptor_conjunto">Egresos mensuales</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="egresos_en_pesos_conjunto_addon">$</span>
                                    </div>
                                    <input type="text" class="form-control form-control-lg" aria-label="egresos_mensuales_suscriptor_conjunto" aria-describedby="egresos_en_pesos_conjunto_addon" id="egresos_mensuales_suscriptor_conjunto" name="egresos_mensuales_suscriptor_conjunto" placeholder="0.00" value="@String.Format("{0:0,0.00}",Model.egresos_mensuales_suscriptor_conjunto)" autocomplete="off" />
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <label for="otros_ingresos_suscriptor_conjunto">Otros ingresos</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="otros_ingresos_suscriptor_conjunto_addon">$</span>
                                    </div>
                                    <input type="text" class="form-control form-control-lg" aria-label="otros_ingresos_suscriptor_conjunto" aria-describedby="otros_ingresos_suscriptor_conjunto_addon" id="otros_ingresos_suscriptor_conjunto" name="otros_ingresos_suscriptor_conjunto" placeholder="0.00" value="@String.Format("{0:0,0.00}",Model.otros_ingresos_suscriptor_conjunto)" autocomplete="off" />
                                </div>
                            </div>
                        </div>

                        <div class="form-row mt-4">
                            <div class="col">
                                <label for="direccion_empleo_suscriptor_conjunto">Dirección oficina (laboral)</label>
                                <input type="text" class="form-control form-control-lg text-uppercase" id="direccion_empleo_suscriptor_conjunto" name="direccion_empleo_suscriptor_conjunto" value="@Model.direccion_empleo_suscriptor_conjunto" autocomplete="off" />
                            </div>
                        </div>

                        <div class="form-row mt-4">
                            <div class="col-12 col-md-6">
                                <label for="departamento_empleo_suscriptor_conjunto">Departamento</label>
                                <select class="form-control form-control-lg" id="departamento_empleo_suscriptor_conjunto" name="departamento_empleo_suscriptor_conjunto" autocomplete="off">
                                    <option value="">Seleccione una opción</option>
                                    @foreach (var item in departamento)
                                    {
                                        @if (Model.departamento_empleo_suscriptor_conjunto == item.IdEstado.ToString())
                                        {
                                            <option selected="selected" value="@item.IdEstado" data-idsiicon="@item.IdSiicon">@item.Descripcion</option>
                                        }
                                        else
                                        {
                                            <option value="@item.IdEstado" data-idsiicon="@item.IdSiicon">@item.Descripcion</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-12 col-md-6">
                                <label for="ciudad_empleo_suscriptor_conjunto">Ciudad</label>
                                <select class="form-control form-control-lg text-uppercase" id="ciudad_empleo_suscriptor_conjunto" name="ciudad_empleo_suscriptor_conjunto" autocomplete="off" readonly>
                                    <option value="@Model.ciudad_empleo_suscriptor_conjunto">@ViewData["CiudadLaboralSuscriptorConjunto"]</option>
                                </select>

                            </div>
                        </div>

                        <div class="form-row mt-4">
                            <div class="col-12 col-md-6">
                                <label for="telefono_empleo_suscriptor_conjunto">Teléfono</label>
                                <input type="text" class="form-control form-control-lg" name="telefono_empleo_suscriptor_conjunto" id="telefono_empleo_suscriptor_conjunto" value="@Model.telefono_empleo_suscriptor_conjunto" autocomplete="off" />
                            </div>
                            <div class="col-12 col-md-6">
                                <label for="celular_empleo_suscriptor_conjunto">Celular</label>
                                <input type="text" class="form-control form-control-lg" id="celular_empleo_suscriptor_conjunto" name="celular_empleo_suscriptor_conjunto" value="@Model.celular_suscriptor_conjunto" autocomplete="off" />
                            </div>
                        </div>


                        <div class="form-row mt-4">
                            <div class="col-12 col-md-4">
                                <label for="profesion_suscriptor_conjunto">Profesión o actividad económica</label>
                                <input type="text" class="form-control form-control-lg text-uppercase" id="profesion_suscriptor_conjunto" name="profesion_suscriptor_conjunto" value="@Model.profesion_suscriptor_conjunto" autocomplete="off" />
                            </div>
                            <div class="col-12 col-md-4">
                                <label for="correspondencia_suscriptor_conjunto">Envío de correspondencia</label>
                                <select class="form-control form-control-lg" id="correspondencia_suscriptor_conjunto" name="correspondencia_suscriptor_conjunto" autocomplete="off">
                                    <option value="">Seleccione una opción</option>
                                    @(Model.correspondencia_suscriptor_conjunto == "domicilio" ? Html.Raw("<option value=\"domicilio\"  selected=\"selected\">Domicilio</option>") : Html.Raw("<option value=\"domicilio\">Domicilio</option>"))
                                    @(Model.correspondencia_suscriptor_conjunto == "oficina" ? Html.Raw("<option value=\"oficina\"  selected=\"selected\">Oficina</option>") : Html.Raw("<option value=\"oficina\">Oficina</option>"))
                                    @(Model.correspondencia_suscriptor_conjunto == "correoelectronico" ? Html.Raw("<option value=\"correoelectronico\"  selected=\"selected\">Correo electrónico</option>") : Html.Raw("<option value=\"correoelectronico\">Correo electrónico</option>"))
                                </select>
                            </div>
                            <div class="col-12 col-md-4">
                                <label for="email_suscriptor_conjunto">Correo electrónico</label>
                                <input type="text" class="form-control form-control-lg text-uppercase" id="email_suscriptor_conjunto" name="email_suscriptor_conjunto" value="@Model.email_suscriptor_conjunto" autocomplete="off" />
                            </div>
                        </div>
                    </section>
                    <!--#endregion-->

                </section>


                <!--#region Datos del bien-->
                <section>
                    <div class="form-row mt-4 mb-2">
                        <div class="col">
                            <div class="bg-azul p-3 mb-2 text-white text-center">
                                <h5 class="mb-0">Características del bien</h5>
                            </div>
                        </div>
                    </div>
                    <div class="form-row mt-2 error-area"></div>

                    <div class="row mt-4">
                        <div class="col-12 col-md-6">
                            <label for="bien">Seleccione compañía</label>
                            <select class="form-control form-control-lg" id="idcompania" name="idcompania" autocomplete="off">
                                <option value="">Seleccione una opción</option>
                                <option selected value="@Model.id_compania">@Model.compania</option>
                                <option value="26e0e553-8bb9-41b2-869a-1fddaf06e900">Autofinanciera S.A.</option>
                                <option value="6831062e-c994-4686-a989-1964b1200cbc">Electroplan S.A.</option>
                            </select>
                            <input type="hidden" name="compania" id="compania" value="@Model.compania" />
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="">Agencia</label>
                            <select class="form-control form-control-lg" id="Agencia" name="Agencia" readonly>
                                <option value="@Model.ConfirmacionContratos.Agencia">@Model.ConfirmacionContratos.DescripcionAgencia </option>
                                <option value="">Seleccione una opción</option>
                            </select>
                            <input type="hidden" name="AgenciaDescripcion" id="AgenciaDescripcion" value="@Model.ConfirmacionContratos.DescripcionAgencia" />
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="tipodeBien">Seleccione un tipo de bien</label>
                            <select class="form-control form-control-lg" id="tipodeBien" name="tipodeBien" readonly>
                                <option value="@Model.id_tipo_de_bien">@Model.tipo_de_bien</option>
                                <option value="">Seleccione una opción</option>
                            </select>
                            <input type="hidden" name="descripcionTipoBien" id="descripcionTipoBien" value="@Model.tipo_de_bien" />
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="marca">Seleccione una marca</label>
                            <select class="form-control form-control-lg" id="marca" name="marca" readonly>
                                <option value="@Model.id_marca Id_marca">@Model.marca_exclusiva_bien</option>
                                <option value="">Seleccione una opción</option>
                            </select>
                            <input type="hidden" name="descripcionMarca" id="descripcionMarca" value="@Model.marca_exclusiva_bien" />
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="planDeAhorro">Seleccione un plan de ahorro</label>
                            <select class="form-control form-control-lg" id="planDeAhorro" name="planDeAhorro" readonly>
                                <option value="@Model.detalles_bien">@Model.descripcion_bien</option>
                                <option value="">Seleccione una opción</option>
                            </select>
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="tipoCalculo">Seleccione una cuota</label>
                            <select class="form-control form-control-lg" id="tipoCalculo" name="tipoCalculo" readonly>
                                <option value="">Seleccione una opción</option>
                                <option selected value="@Model.tipo_calculo">@Model.descripcion_tipo_calculo</option>
                            </select>
                            <input type="hidden" name="descripcionTipoCalculo" id="descripcionTipoCalculo" value="@Model.descripcion_tipo_calculo" />
                        </div>

                        <div class="col-12 col-md-6">
                            <label for="">Tipo de medio</label>
                            <select class="form-control form-control-lg" id="TipoMedio" name="TipoMedio" readonly>
                                <option value="@Model.ConfirmacionContratos.TipoMedio">@Model.ConfirmacionContratos.DescripcionTipoMedio</option>
                            </select>
                            <input type="hidden" name="TipoMedioDescripcion" id="TipoMedioDescripcion" value="@Model.ConfirmacionContratos.DescripcionTipoMedio" />
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="">Agencia Medio</label>
                            <select class="form-control form-control-lg" id="TipoMedioAgencia" name="TipoMedioAgencia" readonly>
                                <option value="@Model.ConfirmacionContratos.Medio">@Model.ConfirmacionContratos.DescripcionMedio</option>
                            </select>
                            <input type="hidden" name="TipoMedioAgenciaDescripcion" id="TipoMedioAgenciaDescripcion" value="@Model.ConfirmacionContratos.DescripcionMedio" />
                            <input type="hidden" name="tipoBienParametroId" id="tipoBienParametroId" value="@Model.id_tipo_bien_parametro" />
                            <input type="hidden" name="medioFechaId" id="medioFechaId" value="@Model.id_fecha_medio" />
                        </div>
                        <div class="col-12 col-md-6">
                            <label>Tipo de cliente</label>
                            <select class="form-control form-control-lg" id="TipoCliente" name="TipoCliente" readonly>
                                <option value="@Model.ConfirmacionContratos.TipoCliente">@Model.ConfirmacionContratos.DescripcionTipoCliente</option>
                                <option value="">Seleccione una opción</option>
                                <option value="0">Nuevo cliente</option>
                                <option value="1">Cliente antiguo</option>
                                <option value="2">Persona jurídicia</option>
                            </select>
                            <input type="hidden" name="TipoClienteDescripcion" id="TipoClienteDescripcion" value="@Model.ConfirmacionContratos.DescripcionTipoCliente" />

                        </div>




                    </div>

                    <div class="form-row mt-4">
                        <div class="col-12 col-md-4">
                            <label>Porcentaje inscripción</label>
                            <input type="text" class="form-control form-control-lg porcentajeInscripcion" id="porcentajeInscripcion" name="porcentajeInscripcion" readonly value="@Model.porcentaje_cuota_ingreso" />
                        </div>
                        <div class="col-12 col-md-4">
                            <label>Porcentaje Administracion</label>
                            <input type="text" class="form-control form-control-lg porcentajeAdministracion" id="porcentajeAdministracion" name="porcentajeAdministracion" readonly value="@Model.porcentaje_administracion" />
                        </div>
                        <div class="col-12 col-md-4">
                            <label>I.V.A.</label>
                            <input type="text" class="form-control form-control-lg porcentajeIva" id="porcentajeIva" name="porcentajeIva" readonly value="@Model.porcentaje_iva" />
                        </div>
                        <div class="col-12 col-md-4">
                            <label for="plazo_bien">Plazo</label>
                            <input type="text" class="form-control form-control-lg plazo" id="plazo_bien" name="plazo_bien" readonly value="@Model.plazo_bien" />
                        </div>

                    </div>




                    <div class="form-row mt-4">
                        <div class="col">
                            <label for="detalles_bien">Detalles del bien</label>
                            <input type="text" class="form-control form-control-lg text-uppercase" id="detalles_bien" name="detalles_bien" value="@Model.descripcion_bien" autocomplete="off" readonly />
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="valor_bien">Valor del bien</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="valor_bien_addon">$</span>
                                </div>
                                <input type="text" class="form-control form-control-lg text-uppercase" aria-label="valor_bien" aria-describedby="valor_bien_addon" id="valor_bien" name="valor_bien" value="@String.Format("{0:0,0.00}",Model.valor_bien)" readonly />
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="codigo_bien">Código del bien</label>
                            <input type="text" class="form-control form-control-lg text-uppercase" id="codigo_bien" name="codigo_bien" value="@Model.codigo_bien" autocomplete="off" readonly />
                        </div>
                    </div>

                </section>
                <!--#endregion-->
                <!--#region Pago Inicial-->
                <section>
                    <div class="form-row mt-4 mb-2">
                        <div class="col">
                            <div class="bg-azul p-3 mb-2 text-white text-center">
                                <h5 class="mb-0">Pago inicial</h5>
                            </div>
                        </div>
                    </div>

                    <div class="form-row mt-4">
                        <div class="col-12 col-md-6">
                            <span class="badge badge-azul">1</span>
                            <label for="cuota_ingreso">Cuota de ingreso (N% sobre el valor del bien)</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="cuota_ingreso_addon">$</span>
                                </div>
                                <input type="text" class="form-control form-control-lg" aria-label="cuota_ingreso" aria-describedby="cuota_ingreso_addon" id="cuota_ingreso" name="cuota_ingreso" placeholder="0.00" readonly value="@String.Format("{0:0,0.00}",Model.cuota_ingreso)" />
                            </div>
                        </div>

                        <div class="col-12 col-md-6">
                            <span class="badge badge-azul">5</span>
                            <label for="administracion">Administración (N% sobre cuota neta)</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="administracion_addon">$</span>
                                </div>
                                <input type="text" class="form-control form-control-lg" aria-label="administracion" aria-describedby="administracion_addon" id="administracion" name="administracion" placeholder="0.00" readonly value="@String.Format("{0:0,0.00}",Model.administracion)" />
                            </div>
                        </div>
                    </div>

                    <div class="form-row mt-4">
                        <div class="col-12 col-md-6">
                            <span class="badge badge-azul">2</span>
                            <label for="iva_cuota_ingreso">I.V.A sobre la cuota de ingreso (N%)</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="iva_cuota_ingreso_addon">$</span>
                                </div>
                                <input type="text" class="form-control form-control-lg" aria-label="iva_cuota_ingreso" aria-describedby="iva_cuota_ingreso_addon" id="iva_cuota_ingreso" name="iva_cuota_ingreso" placeholder="0.00" readonly value="@String.Format("{0:0,0.00}",Model.iva_cuota_ingreso)" />
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <span class="badge badge-azul">6</span>
                            <label for="iva_administracion">I.V.A sobre la administración (N%)</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="iva_administracion_addon">$</span>
                                </div>
                                <input type="text" class="form-control form-control-lg" aria-label="iva_administracion" aria-describedby="iva_administracion_addon" id="iva_administracion" name="iva_administracion" placeholder="0.00" readonly value="@String.Format("{0:0,0.00}", Model.iva_administracion)" />
                            </div>
                        </div>
                    </div>

                    <div class="form-row mt-4">
                        <div class="col-12 col-md-6">
                            <span class="badge badge-azul">3</span>
                            <label for="total_cuota_ingreso">Total cuota de ingreso (N%) ( <span class="badge badge-azul">1</span> + <span class="badge badge-azul">2</span> )</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="total_cuota_ingreso_addon">$</span>
                                </div>
                                <input type="text" class="form-control form-control-lg" aria-label="total_cuota_ingreso" aria-describedby="total_cuota_ingreso_addon" id="total_cuota_ingreso" name="total_cuota_ingreso" placeholder="0.00" readonly value="@String.Format("{0:0,0.00}",Model.total_cuota_ingreso)" />
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <span class="badge badge-azul">7</span>
                            <label for="total_cuota_bruta">Total cuota bruta ( <span class="badge badge-azul">4</span> + <span class="badge badge-azul">5</span> + <span class="badge badge-azul">6</span> )</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="total_cuota_bruta_addon">$</span>
                                </div>
                                <input type="text" class="form-control form-control-lg" aria-label="total_cuota_bruta" aria-describedby="total_cuota_bruta_addon" id="total_cuota_bruta" name="total_cuota_bruta" placeholder="0.00" readonly value="@String.Format("{0:0,0.00}",Model.total_cuota_bruta)" />
                            </div>
                        </div>
                    </div>

                    <div class="form-row mt-4">
                        <div class="col-12 col-md-6">
                            <span class="badge badge-azul">4</span>
                            <label for="primera_cuota_neta">Primera cuota neta: (valor del bien / plazo)</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="primera_cuota_neta_addon">$</span>
                                </div>
                                <input type="text" class="form-control form-control-lg" aria-label="primera_cuota_neta" aria-describedby="primera_cuota_neta_addon" id="primera_cuota_neta" name="primera_cuota_neta" placeholder="0.00" readonly value="@String.Format("{0:0,0.00}",Model.primera_cuota_neta)" />
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <span class="badge badge-azul">8</span>
                            <label for="valor_primer_pago">Valor total primer pago: ( <span class="badge badge-azul">3</span> + <span class="badge badge-azul">7</span> )</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="valor_primer_pago_addon">$</span>
                                </div>
                                <input type="text" class="form-control form-control-lg" aria-label="valor_primer_pago" aria-describedby="valor_primer_pago_addon" id="valor_primer_pago" name="valor_primer_pago" placeholder="0.00" readonly value="@String.Format("{0:0,0.00}",Model.valor_primer_pago)" />
                            </div>
                        </div>
                    </div>
                </section>
                <!--#endregion-->



                <div class="form-row mt-4">
                    <div class="col text-center">
                        @if (Model.ConfirmacionContratos.IsPaid == false)
                        {
                            <button type="submit" class="btn btn-lg btn-azul"><i class="far fa-save"></i>  Actualizar</button>
                        }

                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

@section Scripts
    {
    @{bool IsAsesor = await UserManager.IsInRoleAsync(user, "Asesor"); }
    @if (IsAsesor)
    {
        <script>

            jQuery(function ($) {
                //$("#asesores").append('<option value="' + asesorID + '" selected>' + nombreAsesor + '</option>');
            });
        </script>
    }
    else
    {
        <script>
            function getAsesorPorAgenciaSiicon() {
                jQuery(function ($) {

                    $.ajax({
                        type: "GET",
                        url: "/api/Freyja/GetAsesoresPorAgenciaSiicon/" + $('#idcompania').val() + "/" + $('#Agencia').val(),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data) {
                            try {
                                var asesores = $('#asesores');
                                asesores.empty();
                                //asesores.append("<option value=\"\">Selecciona una opción</option><option value=\"todos\">Seleccionar todos</option>");
                                $.each(data, function (i, item) {
                                    var rows = "<option value=\"" + item.CodAsesor + "\" >" + item.Asesor + " </option>";
                                    asesores.append(rows);
                                });
                                asesores.removeAttr("readonly disabled");
                            } catch (e) {
                                $('.error-area').html('<div class="alert alert-danger alert-dismissible fade show" role="alert">' +
                                    '<strong>¡Ha Ocurrido un error! Inténtelo nuevamente</strong>' +
                                    '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                                    '<span aria-hidden="true">&times;</span>' +
                                    '</button>' +
                                    '</div >');
                                $(this).addClass('fa-spin');
                            }
                        },
                        failure: function (data) {
                            $('.error-area').html('<div class="alert alert-danger alert-dismissible fade show" role="alert">' +
                                '<strong>¡Ha Ocurrido un error! Inténtelo nuevamente</strong>' +
                                '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                                '<span aria-hidden="true">&times;</span>' +
                                '</button>' +
                                '</div >');
                            $(this).removeClass('fa-spin');
                        },
                        error: function (data) {
                            $('.error-area').html('<div class="alert alert-danger alert-dismissible fade show" role="alert">' +
                                '<strong>¡Ha Ocurrido un error! Inténtelo nuevamente</strong>' +
                                '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                                '<span aria-hidden="true">&times;</span>' +
                                '</button>' +
                                '</div >');
                            $(this).removeClass('fa-spin');
                        }
                    });
                });
            }
            //getAsesorPorAgenciaSiicon();
            $('#Agencia').on('change', function () {
                getAsesorPorAgenciaSiicon();
            });
        </script>
    }
    <script>
        jQuery(function ($) {
            var abono = $("#abono");
            var saldo = $("#saldo");
            var debe = $("#debe");

            abono.on("keyup", function () {
                saldo.val(debe.val() - abono.val());
            });
        });


    </script>
}





