<!DOCTYPE html>
<html lang="es" >
<head>
    <meta name="robots" content="index,follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta charset="utf-8" />

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="~/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="~/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="~/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="~/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="~/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="~/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="~/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="~/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="~/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="~/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="&nbsp;" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="~/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="~/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="~/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="~/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="~/mstile-310x310.png" />

    <meta name="keywords" content="">
    <title>@ViewData["Title"] - Qurii</title>
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.css" crossorigin="anonymous" />
    <link rel="stylesheet" href="~/lib/jqueryui/jquery-ui.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/AOS/aos.css" />
    <link rel="stylesheet" href="~/css/base-1.0.4.css" asp-append-version="true" />
    
</head>
<body>    
    @*<div style="background: url('../../../../images/qurii-pattern.jpg') no-repeat center center fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;min-height: 50rem;">*@
    <div style="background: url('../../../../images/background/qurii-pattern.jpg'); ">
        
        @RenderBody()
        
    </div>
    <footer class="">
        <div class="container">
            <div class="row justify-content-center" style="border-bottom: solid #fff 2px;">
                <div class="col-12 col-md-3 text-center">
                    <img src="~/images/logo_autofinanciera_white.png" class="img-fluid logo-footer" alt="Autofinanciera SA" />
                </div>
                <div class="col-12 col-md-3 text-center">
                    <img src="~/images/serven_white.png" class="img-fluid p-1" style="max-height:80px;" alt="Serven SA" />
                </div>
                <div class="col-12 col-md-3 text-center">
                    <img src="~/images/Fonbienes-electroplan-white.png" class="img-fluid p-1" style="max-height:80px;" alt="Electroplan SA" />
                </div>
            </div>
            <div class="row justify-content-center  mt-4">
                <div class="col-12 col-sm-5 col-md-4 text-center text-white mt-2">
                    <p>                        
                        Vigilado por la Superintendencia de Sociedades<br />
                        <i class="far fa-copyright"></i> Autofinanciera S.A. 1971 - @DateTime.Today.Year<br />
                        <i class="far fa-copyright"></i> Fonbienes, Colombia, S.A. 1987 - @DateTime.Today.Year<br />
                    </p>
                </div>

                <div class="col-12 col-sm-5 col-md-4 text-white text-center">
                    <h5>Sede principal y administrativa</h5>
                    <p>
                        Carrera 7 no. 24-89 Torre Colpatria Piso 17<br />
                        PBX: (571) 444 1700<br />
                        Bogotá - Colombia
                    </p>
                </div>

            </div>
        </div>
    </footer>
    
    <script src="~/lib/jquery/dist/jquery-3.3.1.min.js"></script>
    <script src="~/lib/jquery-validation/1.19.0/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/1.19.0/additional-methods.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/jqueryui/jquery-ui.min.js" asp-append-version="true"></script>
    <script src="~/lib/AOS/aos.js" asp-append-version="true"></script>
    <script src="~/js/base-1.0.28.js" asp-append-version="true"></script>        
    
    @RenderSection("Scripts", required: false)
</body>
</html>
